Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

fix: remove line about the button being disabled
  packages/@guardian/source-react-components/src/button/types.ts
Labels: react-components

fix: correct comment for button loader position
  packages/@guardian/source-react-components/src/button/types.ts
Labels: react-components

refactor: remove unnecessary isLoading param, fix alphabetical sorting
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
Labels: react-components

use more representative choice card label in icon story
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
Labels: react-components

add alert role to inline user feedback components
  packages/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
Labels: react-components

Add changeset
  .changeset/strange-bikes-exist.md
Labels: none

bump storybook to 6.4.19
  package.json
  yarn.lock
Labels: none

Update README.md
  packages/@guardian/source-react-components-development-kitchen/README.md
Labels: kitchen

Add pinned svg icon
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgPinned.tsx
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

add a11y label to arrowDownStraight icon
  packages/@guardian/source-react-components/src/icons/SvgArrowDownStraight.tsx
Labels: react-components

add a11y label to arrowRightStraight icon
  packages/@guardian/source-react-components/src/icons/SvgArrowRightStraight.tsx
Labels: react-components

add a11y label to cross icon
  packages/@guardian/source-react-components/src/icons/SvgCross.tsx
Labels: react-components

add a11y label to arrowUpStraight icon
  packages/@guardian/source-react-components/src/icons/SvgArrowUpStraight.tsx
Labels: react-components

respect sr announcement prop in icon stories
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
Labels: react-components

add a11y label to checkmark icon
  packages/@guardian/source-react-components/src/icons/SvgCheckmark.tsx
Labels: react-components

add a11y label to camera icon
  packages/@guardian/source-react-components/src/icons/SvgCamera.tsx
Labels: react-components

add a11y label to arrowLeftStraight icon
  packages/@guardian/source-react-components/src/icons/SvgArrowLeftStraight.tsx
Labels: react-components

add sr announcement prop
  packages/@guardian/source-react-components/src/icons/types.ts
Labels: react-components

add a11y label to alertTriangle icon
  packages/@guardian/source-react-components/src/icons/SvgAlertTriangle.tsx
Labels: react-components

add a11y label to audio icon
  packages/@guardian/source-react-components/src/icons/SvgAudio.tsx
Labels: react-components

add a11y label to alert icon
  packages/@guardian/source-react-components/src/icons/SvgAlert.tsx
Labels: react-components

add a11y label to alertRound icon
  packages/@guardian/source-react-components/src/icons/SvgAlertRound.tsx
Labels: react-components

add a11y label to info icon
  packages/@guardian/source-react-components/src/icons/SvgInfo.tsx
Labels: react-components

add a11y label to house icon
  packages/@guardian/source-react-components/src/icons/SvgHouse.tsx
Labels: react-components

add a11y label to clock icon
  packages/@guardian/source-react-components/src/icons/SvgClock.tsx
Labels: react-components

add a11y label to plus icon
  packages/@guardian/source-react-components/src/icons/SvgPlus.tsx
Labels: react-components

add a11y label to direct debit wide icon
  packages/@guardian/source-react-components/src/icons/SvgDirectDebitWide.tsx
Labels: react-components

add a11y label to chevronLeftDouble icon
  packages/@guardian/source-react-components/src/icons/SvgChevronLeftDouble.tsx
Labels: react-components

add a11y label to indent icon
  packages/@guardian/source-react-components/src/icons/SvgIndent.tsx
Labels: react-components

add a11y label to PayPal logo icon
  packages/@guardian/source-react-components/src/icons/SvgPayPal.tsx
Labels: react-components

add a11y label to chevronLeftSingle icon
  packages/@guardian/source-react-components/src/icons/SvgChevronLeftSingle.tsx
Labels: react-components

add a11y label to play icon
  packages/@guardian/source-react-components/src/icons/SvgPlay.tsx
Labels: react-components

add a11y label to external link icon
  packages/@guardian/source-react-components/src/icons/SvgExternal.tsx
Labels: react-components

add a11y label to eyeicon
  packages/@guardian/source-react-components/src/icons/SvgEye.tsx
Labels: react-components

add a11y label to eyestrike icon
  packages/@guardian/source-react-components/src/icons/SvgEyeStrike.tsx
Labels: react-components

add a11y label to chevronUpSingle icon
  packages/@guardian/source-react-components/src/icons/SvgChevronUpSingle.tsx
Labels: react-components

add a11y label to person icon
  packages/@guardian/source-react-components/src/icons/SvgPerson.tsx
Labels: react-components

add a11y label to quote icon
  packages/@guardian/source-react-components/src/icons/SvgQuote.tsx
Labels: react-components

add a11y label to credit card icon
  packages/@guardian/source-react-components/src/icons/SvgCreditCard.tsx
Labels: react-components

add a11y label to settings icon
  packages/@guardian/source-react-components/src/icons/SvgSettings.tsx
Labels: react-components
