Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

refactor css to make classes more generic
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

cherry-pick commit from v4/ts-colour-docs
  .storybook/preview-head.html
  docs/getting-started.stories.mdx
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/colour/colour.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-react-components/README.md
Labels: foundations, react-components

UI changes based on feedback and refactor css
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

update docs based on feedback
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

remove original changeset
  .changeset/nervous-llamas-wash.md
Labels: none

docs(changeset): 'Colour' doc becomes 'palette' to accurately reflect the package name and colour tokens have been added to the doc
  .changeset/nervous-llamas-wash.md
Labels: none

add flag to changesets config to prevent major version bumps on peer dependencies
  .changeset/config.json
Labels: none

update changesets config to only update peer dependents when out of range to prevent major patch bumps of peers on minor bump to one package
  .changeset/config.json
Labels: none

reword deprecation comment to be less specific
  packages/@guardian/source-foundations/src/index.ts
Labels: foundations

ensure node is an element before querying
  .storybook/manager-head.html
Labels: none

Add optional LabelPosition prop to Toggle Switch
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

docs(changeset): Add optional LabelPosition prop to Toggle Switch
  .changeset/great-singers-rhyme.md
Labels: none

Add ids for toggle switch elements
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

docs(changeset): Add ids for toggle switch elements
  .changeset/calm-tools-sip.md
Labels: none

dont disable docs in chromatic stories
  lib/story-intents.ts
Labels: none

Update .changeset/calm-tools-sip.md
  .changeset/calm-tools-sip.md
Labels: none

add circle arrow clockwise
  packages/@guardian/source-react-components/src/icons/SvgArrowCircleClockwise.tsx
Labels: react-components

add icon to stories
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

it needs to be in 30×30 canvas
  packages/@guardian/source-react-components/src/icons/SvgArrowCircleClockwise.tsx
Labels: react-components

docs(changeset): Add SVG Arrow Circle Clockwise
  .changeset/proud-impalas-happen.md
Labels: none

expect it to come in the package
  scripts/validate-dist/source-package-exports.test.ts
Labels: none

make the icon more similar to others
  packages/@guardian/source-react-components/src/icons/SvgArrowCircleClockwise.tsx
Labels: react-components

improve example text in link and linkbutton stories
  packages/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
Labels: react-components

improve radio and radiogroup stories
  packages/@guardian/source-react-components/src/radio/Radio.stories.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
Labels: react-components

improve select stories
  packages/@guardian/source-react-components/src/select/Select.stories.tsx
Labels: react-components

improve button and linkbutton stories
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/LinkButton.stories.tsx
Labels: react-components

improve radio stories
  packages/@guardian/source-react-components/src/radio/Radio.stories.tsx
Labels: react-components

improve checkbox stories
  packages/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
Labels: react-components

make icon button stories more representative
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
Labels: react-components

remove fragment from choicecardgroup story template
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
Labels: react-components

create changeset
  .changeset/gold-pianos-own.md
Labels: none

remove aria-checked from radio
  packages/@guardian/source-react-components/src/radio/Radio.tsx
Labels: react-components

remove aria-checked from choicecard
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
Labels: react-components

remove aria-checked from checkbox
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
Labels: react-components

fix: tidy disabled rule
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

feat: tidy up button storybook and add story for when label is hidden
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
Labels: react-components

feat: add range of stories for our button variants in their loading state. correctly apply text colour to spinner on subdued button
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

feat: add an isLoading prop to buttons. display an animate loading SVG. ensure that the loading state matches the button variant being displayed
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/Button.tsx
  packages/@guardian/source-react-components/src/button/shared.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/button/types.ts
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgSpinner.tsx
Labels: react-components

fix: accessibility options so that the live type is polite and the button label is set to 'loading' when isLoading is true
  packages/@guardian/source-react-components/src/button/Button.tsx
Labels: react-components

feat: act on PR review comments
  .changeset/chilly-humans-report.md
  packages/@guardian/source-react-components/src/button/Button.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/button/types.ts
  packages/@guardian/source-react-components/src/icons/SvgSpinner.tsx
Labels: react-components

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
