Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

change Link/ButtonLink underline to 4px on hover
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

replace edition switch with generic switch component
  docs/rfcs/header-component-api.md
  docs/rfcs/images/header-component-api/masthead-switch-item.png
  docs/rfcs/images/header-component-api/masthead-switch.png
Labels: none

replace deprecated colours in container styles
  packages/@guardian/source-react-components/src/container/styles.ts
Labels: react-components

replace deprecated colours in resets
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

replace deprecated colours in components README
  packages/@guardian/source-react-components/README.md
Labels: react-components

replace deprecated colours in user feedback theme
  packages/@guardian/source-react-components/src/user-feedback/theme.ts
Labels: react-components

replace deprecated colours in radio theme
  packages/@guardian/source-react-components/src/radio/theme.ts
Labels: react-components

replace deprecated colours in select theme
  packages/@guardian/source-react-components/src/select/theme.ts
Labels: react-components

replace deprecated colours in label theme
  packages/@guardian/source-react-components/src/label/theme.ts
Labels: react-components

replace deprecated colours in link theme
  packages/@guardian/source-react-components/src/link/theme.ts
Labels: react-components

replace deprecated colour tokens in accordion theme
  packages/@guardian/source-react-components/src/accordion/theme.ts
Labels: react-components

replace deprecated colours in footer theme
  packages/@guardian/source-react-components/src/footer/theme.ts
Labels: react-components

replace deprecated colours in button theme
  packages/@guardian/source-react-components/src/button/theme.ts
Labels: react-components

replace deprecated colours in text input theme
  packages/@guardian/source-react-components/src/text-input/theme.ts
Labels: react-components

replace deprecated colours in Storybook backgrounds
  .storybook/preview/backgrounds.ts
Labels: none

replace deprecated colour tokens in text-area styles
  packages/@guardian/source-react-components/src/text-area/styles.ts
Labels: react-components

docs(changeset): Replace deprecated colour tokens with palette
  .changeset/clean-berries-cough.md
Labels: none

add subdued prop back in but deprecated
  packages/@guardian/source-react-components/src/link/types.ts
Labels: react-components

make culture and opinion colour changes for a11y
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

docs(changeset): Update culture and opinion colours for better contrast
  .changeset/old-plums-roll.md
Labels: none

Update .changeset/clean-berries-cough.md
  .changeset/clean-berries-cough.md
Labels: none

update deprecated message
  packages/@guardian/source-react-components/src/link/types.ts
Labels: react-components

update support component api to reflect existing api in sdc
  docs/rfcs/header-component-api.md
Labels: none

move risks to pr description, flatten doc structure
  docs/rfcs/header-component-api.md
Labels: none

update palette.labs.200
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

Create changeset for labs.200 update
  .changeset/proud-mugs-sleep.md
Labels: none

use correct captialisation for editorial button stories
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.stories.tsx
Labels: kitchen

enable turbosnap
  .github/workflows/chromatic.yml
Labels: none

apply choice card container top margin
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  packages/@guardian/source-react-components/src/choice-card/styles.ts
Labels: react-components

Add changeset for choice card spacing change
  .changeset/nasty-chicken-divide.md
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

bump deps
  .yarnrc
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: foundations, react-components, kitchen

add v5 release notes
  docs/release-notes/v5.stories.mdx
Labels: none

apply suggestions from pull request
  docs/release-notes/v5.stories.mdx
Labels: none

Update docs/release-notes/v5.stories.mdx
  docs/release-notes/v5.stories.mdx
Labels: none

switch `pnpm` for `yarn`
  .yarnrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

satisfy missing peerdeps in packages
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  scripts/get-usage/package.json
Labels: foundations, react-components, kitchen

remove references to `yarn` in docs
  .prettierignore
  scripts/README.md
  scripts/get-usage/README.md
Labels: none

use `pnpm` in CI
  .github/workflows/ci.yml
Labels: none

install pnpm in ga
  .github/workflows/changesets.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-storybook.yml
  package.json
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
