Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Update border thickness
  ,
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

chore: Trigger snyk
  .github/workflows/snyk.yml
Labels: none

Create five-games-ring.md
  .changeset/five-games-ring.md
Labels: none

Update packages/@guardian/source-foundations/src/utils/resets.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

Use style objects rather than function
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

docs(changeset): Update Link hover underline thickness
  .changeset/neat-baboons-begin.md
Labels: none

Add lifestyle 450 to palette
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

chore: Add snyk monitoring for main branch
  .github/workflows/snyk.yml
Labels: none

docs(changeset): Add new colour 450 to lifestyle palette
  .changeset/tough-pots-sell.md
Labels: none

Update .changeset/tough-pots-sell.md
  .changeset/tough-pots-sell.md
Labels: none

Create grumpy-bats-kick.md
  .changeset/grumpy-bats-kick.md
Labels: none

add newsletter icon
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/vendor/icons/SvgNewsletter.tsx
Labels: react-components

use `.env` file when creating icons
  packages/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
Labels: react-components

add `create-icons` task to root package.json
  package.json
Labels: none

Create healthy-spoons-reply.md
  .changeset/healthy-spoons-reply.md
Labels: none

add icon to exports in test
  packages/@guardian/source-react-components/src/index.test.ts
Labels: react-components

Show palette colours in Chromatic diffs
  .changeset/red-coins-bow.md
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

Create pull request template for dev kitchen
  packages/@guardian/source-react-components-development-kitchen/.github/pull_request_template.md
Labels: kitchen

a change
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
Labels: kitchen

convert to tsx story
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

Convert to tsx story
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

Reorder props
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
Labels: foundations

Remove changeset
  .changeset/red-coins-bow.md
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

update to more literal naming
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
Labels: foundations

Use maps and remove casting
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
Labels: foundations

Remove unused setting
  .gitignore
  .vscode/extensions.json
Labels: none

Fix tsx story styles
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.tsx
Labels: foundations

Update border theme
  packages/@guardian/source-react-components/src/select/theme.ts
Labels: react-components

Reinstate palette jsdoc comments
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

revert to mdx story
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

Add viewMode docs
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

Update no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Filter out false palette examples
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

Update chromatic.yml
  .github/workflows/chromatic.yml
Labels: none

Update chromatic.yml to use `CHROMATIC_PROJECT_TOKEN` (#1487)
  .github/workflows/chromatic.yml
Labels: none

docs(changeset): Update Select border colour
  .changeset/strange-queens-dance.md
Labels: none

Update `select` border colour (#1486)
  .changeset/strange-queens-dance.md
  packages/@guardian/source-react-components/src/select/theme.ts
Labels: react-components

Show palette colours in Chromatic (#1482)
  .gitignore
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
