Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

check to see if the text decoration thickness value is undefined before supplying a default value. remove some references to hover
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

add separate changeset for source-react-components
  .changeset/tall-knives-wait.md
Labels: none

move comment above the rule, because Prettier doesn't like comments inside the var() rule
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

apply hover rule for the text decoration to the link component
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

Update .changeset/tall-knives-wait.md
  .changeset/tall-knives-wait.md
Labels: none

Update .changeset/chilly-shrimps-accept.md
  .changeset/chilly-shrimps-accept.md
Labels: none

rename css variable to remove hover, make changeset specific to source foundations
  .changeset/chilly-shrimps-accept.md
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

deprecate the existing input reset; move it to the Link component
  packages/@guardian/source-foundations/src/utils/resets.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: foundations, react-components

add changeset
  .changeset/hungry-beds-report.md
Labels: none

add changeset
  .changeset/hungry-beds-report.md
Labels: none

deprecate the existing input reset; move it to the Link component
  packages/@guardian/source-foundations/src/utils/resets.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: foundations, react-components

set up `ToggleSwitch` release
  .changeset/bright-peaches-sparkle.md
  .changeset/kind-donuts-double.md
  .changeset/thick-moons-reply.md
  .changeset/two-shoes-care.md
  .changesets-store/breezy-comics-call.md
  .changesets-store/chilly-shrimps-accept.md
  .changesets-store/hungry-beds-report.md
  .changesets-store/tall-knives-wait.md
  .changesets-store/thin-eyes-wonder.md
Labels: none

release evertying!
  .changeset/breezy-comics-call.md
  .changeset/chilly-shrimps-accept.md
  .changeset/hungry-beds-report.md
  .changeset/tall-knives-wait.md
  .changeset/thin-eyes-wonder.md
Labels: none

Add a 'Numeric Input' component to Source dev kitchen (#1590)
  .changeset/silent-oranges-film.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/README.md
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen

update changeset descriptions
  .changeset/breezy-comics-call.md
  .changeset/chilly-shrimps-accept.md
  .changeset/hungry-beds-report.md
  .changeset/kind-donuts-double.md
  .changeset/silent-oranges-film.md
  .changeset/tall-knives-wait.md
  .changeset/thin-eyes-wonder.md
  .changeset/two-shoes-care.md
Labels: none

Update CHANGELOG.md
  packages/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  packages/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  packages/@guardian/source-foundations/CHANGELOG.md
Labels: foundations

Update CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Labels: kitchen

Update CHANGELOG.md
  packages/@guardian/source-react-components/CHANGELOG.md
Labels: react-components

Update CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Labels: kitchen

Update CHANGELOG.md
  packages/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  packages/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  packages/@guardian/source-react-components/CHANGELOG.md
Labels: react-components

Remove importants from visually-hidden
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

Add changeset
  .changeset/large-mice-attack.md
Labels: none

Fix links
  packages/@guardian/source-foundations/README.md
Labels: foundations

Fix contributing docs
  docs/contributing/overview.stories.mdx
Labels: none

Update .changeset/large-mice-attack.md
  .changeset/large-mice-attack.md
Labels: none

Remove `!important` from `visuallyHidden` (#1595)
  .changeset/large-mice-attack.md
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

Fix links (#1596)
  packages/@guardian/source-foundations/README.md
Labels: foundations

Fix contributing docs (#1597)
  docs/contributing/overview.stories.mdx
Labels: none

add specialReportAlt case to dev kitchen editorial button
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/styles.ts
Labels: kitchen

update yarn.lock
  yarn.lock
Labels: none

add specialReportAlt case to dev kitchen quote icon
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
Labels: kitchen

bump @guardian/libs pinned to latest major version in devDeps and to latest in peerDeps
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

add ts-lib and web-vitals as dev deps to eslint plugins and dev kitchen
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  yarn.lock
Labels: kitchen

bump @guardian/libs to v9
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  yarn.lock
Labels: kitchen

add changeset
  .changeset/gold-keys-swim.md
Labels: none

update changeset to reflect actual version
  .changeset/gold-keys-swim.md
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
