Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Remove tooltip prop
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Remove unused tooltip type from props types
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

create numeric input based on base text input component
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/styles.ts
Labels: kitchen

extract input extension component for prefix/suffix, improve docs
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/styles.ts
Labels: kitchen

Add changeset
  .changeset/kind-donuts-double.md
Labels: none

Fix focus visible styles on
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Use border not outline
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

add changeset
  .changeset/two-shoes-care.md
Labels: none

Remove unused tooltip type from `ToggleSwitch` props types (#1587)
  .changeset/kind-donuts-double.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Increase outline width and offset
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Update two-shoes-care.md
  .changeset/two-shoes-care.md
Labels: none

Remove unused css
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

be explicit about internal dep usage
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
Labels: react-components, kitchen

dont add npm peerdeps as devdeps
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
Labels: react-components, kitchen

add changelog
  .changeset/breezy-comics-call.md
Labels: none

simplify checkbox hover rules
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

Update .changeset/breezy-comics-call.md
  .changeset/breezy-comics-call.md
Labels: none

apply border state transition styles to checkboxes, radio buttons and text inputs
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: react-components

add changelog
  .changeset/breezy-comics-call.md
Labels: none

apply border state transition styles to checkboxes, radio buttons and text inputs
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: react-components

simplify checkbox hover rules
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

Update .changeset/breezy-comics-call.md
  .changeset/breezy-comics-call.md
Labels: none

fix safari issue, prepare export
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/README.md
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen

add changeset
  .changeset/silent-oranges-film.md
Labels: none

Add changeset
  .changeset/olive-mirrors-thank.md
Labels: none

Delete olive-mirrors-thank.md
  .changeset/olive-mirrors-thank.md
Labels: none

Fix focus-visible on `ToggleSwitch` (#1589)
  .changeset/two-shoes-care.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

apply hover rule for the text decoration to the link component
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

set a CSS variable to the text decoration thickness for a given font/weight combination. this will be scoped to children which can then apply this custom line height as needed
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

add changeset
  .changeset/chilly-shrimps-accept.md
Labels: none

move comment about the text decoration thickness closer to the action
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

rename css variable to remove hover, make changeset specific to source foundations
  .changeset/chilly-shrimps-accept.md
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

add separate changeset for source-react-components
  .changeset/tall-knives-wait.md
Labels: none

move comment above the rule, because Prettier doesn't like comments inside the var() rule
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

check to see if the text decoration thickness value is undefined before supplying a default value. remove some references to hover
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

Update .changeset/tall-knives-wait.md
  .changeset/tall-knives-wait.md
Labels: none

Update .changeset/chilly-shrimps-accept.md
  .changeset/chilly-shrimps-accept.md
Labels: none

move comment about the text decoration thickness closer to the action
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

add changeset
  .changeset/chilly-shrimps-accept.md
Labels: none

set a CSS variable to the text decoration thickness for a given font/weight combination. this will be scoped to children which can then apply this custom line height as needed
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
