Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

move storybook docs before storybook essentials
  .storybook/main.js
Labels: none

bump sotrybook and react min versions
  package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: react-components, kitchen

react components plugin does not need foundations plugin
  packages/@guardian/eslint-plugin-source-react-components/package.json
Labels: none

plugin peerdeps are range
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
Labels: none

chore(release): publish
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: foundations, kitchen

support react 17 in sotrybook
  package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: react-components, kitchen

docs(changeset):
  .changeset/new-pants-exist.md
Labels: none

Create changesets.yml
  .github/workflows/changesets.yml
Labels: none

Update changesets.yml
  .github/workflows/changesets.yml
Labels: none

ad changeset release script
  package.json
Labels: none

docs(changeset): No-op to test changesets
  .changeset/new-bats-share.md
Labels: none

Add a no-op changeset
  .changeset/any-name-here.md
Labels: none

Delete any-name-here.md
  .changeset/any-name-here.md
Labels: none

publish to npm from main
  .github/workflows/changesets.yml
Labels: none

docs(changeset):
  .changeset/kind-crabs-teach.md
Labels: none

Create noop-changeset.md
  .changeset/noop-changeset.md
Labels: none

Update noop-changeset.md
  .changeset/noop-changeset.md
Labels: none

move old changelog to docs
  docs/CHANGELOG_v0-v3.md
Labels: none

feature: Adds paperclip icon
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgPaperclip.tsx
Labels: react-components

Make label clickable
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

use 6.4 args table sorting
  lib/story-intents.ts
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
Labels: react-components

use webpack 5 in storybook
  .storybook/main.js
  .storybook/webpack.config.js
  package.json
  yarn.lock
Labels: none

docs(changeset): React minimum version is 17.0.1 (instead of 17.0.0)
  .changeset/rare-pianos-applaud.md
Labels: none

mroe robust hack around selecting docs
  .storybook/manager-head.html
Labels: none

remove lerna
  .github/workflows/changesets.yml
  docs/contributing/overview.stories.mdx
  package.json
Labels: none

Use pixels for all web pseudo elements
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Update changesets.yml
  .github/workflows/changesets.yml
Labels: none

Create auto-merge-dev-deps.yml
  .github/workflows/auto-merge-dev-deps.yml
Labels: none

docs(changeset): Fixes styling on toggle switch and adds clickable label
  .changeset/three-carrots-swim.md
Labels: none

Update .changeset/three-carrots-swim.md
  .changeset/three-carrots-swim.md
Labels: none

build dist into discrete modules
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/rollup.config.js
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/rollup.config.js
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/rollup.config.js
Labels: foundations, react-components, kitchen

docs(changeset): Stop publishing packages as single files, so they can be properly tree-shaken.
  .changeset/silver-planets-try.md
Labels: none

remove unneeded deps from yarn lock
  yarn.lock
Labels: none

Remove toggle margin and make label display: flex
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

docs(changeset): Remove margin from ToggleSwitch component
  .changeset/twenty-jokes-poke.md
Labels: none

downgrade storybook
  package.json
  yarn.lock
Labels: none

bump storybook to 6.3.13
  package.json
  yarn.lock
Labels: none

auto-upgrade to latest storybook
  .eslintrc.js
  package.json
  yarn.lock
Labels: none

bump sb to 6.4.18
  package.json
  yarn.lock
Labels: none

docs(changeset): Export palette types as one `palette` object and add colour tokens to Foundations palette doc
  .changeset/shaggy-moose-mix.md
Labels: none
