Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Add lifestyle 450 to palette (#1480)
  .changeset/tough-pots-sell.md
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

Final values update
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

Add TextDecorationThickness to typography (#1475)
  ,
  .changeset/neat-baboons-begin.md
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

Delete strange file
  ,
Labels: none

render fonts in storybook
  packages/@guardian/source-foundations/src/typography/TypographyMap.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Add font specifics to stories
  packages/@guardian/source-foundations/src/typography/TypographyMap.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Create renderers for each variation
  packages/@guardian/source-foundations/src/typography/TypographyMap.tsx
  packages/@guardian/source-foundations/src/typography/renderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Use id rather than name
  packages/@guardian/source-foundations/src/typography/renderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

fix linter error
  packages/@guardian/source-foundations/src/typography/renderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Revert to using names
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Delete strange file (#1491)
  ,
Labels: none

Test if stories show in chromatic without <Story /> tag
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Fix typo and remove viewMode parameters
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Move typography renderers to .storybook folder
  .storybook/typographyRenderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Add canvas wrappers and correct imports
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Update renderers import path
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

create FooterWithContents and FooterLinks components in dev kitchen
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/README.md
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

docs(changeset): add FooterWithContents and FooterLinks components
  .changeset/silent-rabbits-breathe.md
Labels: none

Render fonts in Storybook `typography` docs (#1492)
  .storybook/typographyRenderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Create FooterWithContents and FooterLinks components in dev kitchen (#1490)
  .changeset/silent-rabbits-breathe.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/README.md
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

set the default lineheight for textsans to regular
  packages/@guardian/source-foundations/src/typography/api.ts
Labels: foundations

extend the line height documentation to cover the default values, aliases and a worked example of how it is calculated
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

add a line height renderer to our storybook renderer collection
  .storybook/typographyRenderers.tsx
Labels: none

add line height sections to each individual font
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

remove typing for React.FC based on https://kentcdodds.com/blog/how-to-write-a-react-component-in-typescript
  .storybook/typographyRenderers.tsx
Labels: none

docs(changeset): change the default line-height for textsans to regular instead of loose
  .changeset/smooth-goats-move.md
Labels: none

keep the lineHeight for text sans as loose for now, until we can check what the impact of this change will be across the whole design system
  packages/@guardian/source-foundations/src/typography/api.ts
Labels: foundations

change the documentation for text-sans to record line height as 'loose'
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

modify the changeset so that we record that this is just a patch change
  .changeset/smooth-goats-move.md
Labels: none

modify the changeset so that we record that this is just a patch change
  .changeset/smooth-goats-move.md
Labels: none

docs(changeset): change the default line-height for textsans to regular instead of loose
  .changeset/smooth-goats-move.md
Labels: none

extend the line height documentation to cover the default values, aliases and a worked example of how it is calculated
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

add a line height renderer to our storybook renderer collection
  .storybook/typographyRenderers.tsx
Labels: none

change the documentation for text-sans to record line height as 'loose'
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

set the default lineheight for textsans to regular
  packages/@guardian/source-foundations/src/typography/api.ts
Labels: foundations

keep the lineHeight for text sans as loose for now, until we can check what the impact of this change will be across the whole design system
  packages/@guardian/source-foundations/src/typography/api.ts
Labels: foundations

remove typing for React.FC based on https://kentcdodds.com/blog/how-to-write-a-react-component-in-typescript
  .storybook/typographyRenderers.tsx
Labels: none

add line height sections to each individual font
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Use storybook doc-block for color palette story
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

dev-deps upgrade for minor/patch package updates
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
