Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

add changeset
  .changeset/brown-ties-drum.md
Labels: none

changeset test (#1523)
  .changeset/brown-ties-drum.md
Labels: none

make BackToTop an explicit export from source-react-components
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components, kitchen

docs(changeset): make BackToTop an explicit export from source-react-components, to be used in the dev kitchen footer
  .changeset/honest-cougars-leave.md
Labels: none

Make BackToTop an explicit export from source-react-components (#1516)
  .changeset/honest-cougars-leave.md
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components, kitchen

remove `get-usage`
  .gitignore
  package.json
  scripts/get-usage/README.md
  scripts/get-usage/config.json
  scripts/get-usage/get-all-components.ts
  scripts/get-usage/get-component-usage.ts
  scripts/get-usage/get-enriched-results.ts
  scripts/get-usage/group-components.test.ts
  scripts/get-usage/group-components.ts
  scripts/get-usage/index.ts
  scripts/get-usage/jest.config.js
  scripts/get-usage/package-names.ts
  scripts/get-usage/package.json
  scripts/get-usage/tsconfig.json
  scripts/get-usage/types.ts
Labels: none

Remove `get-usage` (#1529)
  .gitignore
  package.json
  scripts/get-usage/README.md
  scripts/get-usage/config.json
  scripts/get-usage/get-all-components.ts
  scripts/get-usage/get-component-usage.ts
  scripts/get-usage/get-enriched-results.ts
  scripts/get-usage/group-components.test.ts
  scripts/get-usage/group-components.ts
  scripts/get-usage/index.ts
  scripts/get-usage/jest.config.js
  scripts/get-usage/package-names.ts
  scripts/get-usage/package.json
  scripts/get-usage/tsconfig.json
  scripts/get-usage/types.ts
Labels: none

Update .eslintrc.js
  .eslintrc.js
Labels: none

add `@guardian/tsconfig`
  package.json
  tsconfig.json
  yarn.lock
Labels: none

fixes for `@guardian/tsconfig` adoption
  .eslintrc.js
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  packages/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  packages/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
  packages/@guardian/source-react-components/src/columns/styles.ts
Labels: react-components

Update default line height
  packages/@guardian/source-foundations/src/typography/api.ts
Labels: foundations

Add `@guardian/tsconfig` (#1530)
  .eslintrc.js
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  packages/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  packages/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
  packages/@guardian/source-react-components/src/columns/styles.ts
  tsconfig.json
  yarn.lock
Labels: react-components

remove button padding
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

Fix checkbox top
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

Fix success styling
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
Labels: kitchen

Remove line height overrides
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: react-components

Remove vertical offset
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

Remove 1px margin from summary
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
Labels: kitchen

Use space value
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

flatten the structure of the typography theme definitions in an attempt to simply the file
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

fix structure of the font mapping object
  packages/@guardian/source-foundations/src/typography/data.ts
  yarn.lock
Labels: foundations

export each individual block so we can count references
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

changelog patch
  .changeset/twenty-onions-fetch.md
Labels: none

link to rem method via alternate means to avoid a lint fail
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

document the font size exports and rename two variables
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

fix import for fontWeights after the rename from fontWeightMapping
  .storybook/typographyRenderers.tsx
Labels: none

leave behind static computation of rem values for now to avoid diverting attention in the pr
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

remove all references to lineHeightMapping; fontMapping, and fontWeightMapping in favour of lineHeights, fonts, and fontWeights
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/obj/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

fix font mapping after rebase against main to ensure we expose the fonts under the names used in the current API
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

updates to the lockfile after running yarn locally
  yarn.lock
Labels: none

Updates to the lockfile after running yarn locally (#1532)
  yarn.lock
Labels: none

update eslint configs
  .eslintignore
  package.json
  packages/@guardian/source-react-components/src/@types/Theme.d.ts
  yarn.lock
Labels: react-components

Create lovely-kangaroos-wink.md
  .changeset/lovely-kangaroos-wink.md
Labels: none

update eslint configs
  .eslintignore
  package.json
  packages/@guardian/source-react-components/src/@types/Theme.d.ts
  yarn.lock
Labels: react-components

Create lovely-kangaroos-wink.md
  .changeset/lovely-kangaroos-wink.md
Labels: none

test(typography): capture changes in value
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

Update packages/@guardian/source-foundations/src/typography/typography.test.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

Revert changes to summary
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
Labels: kitchen

reintroduce button styles
  .changeset/cool-deers-chew.md
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

Formatting
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components
