Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

add the lightning css library and fix the comment syntax in the css reset
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/src/utils/resets.ts
  yarn.lock
Labels: foundations

remove the template string css syntax highlight plugin to be proposed as a separate pr
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

move the toBeValidCSS matcher into a lib file as it is a script that acts on our code and is not part of it
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/lib/jest-matchers/index.ts
  packages/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
Labels: foundations

Update .changeset/popular-adults-behave.md
  .changeset/popular-adults-behave.md
Labels: none

remove the template string css syntax highlight plugin to be proposed as a separate pr
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

switch from 'it' to 'test' for added clarity
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

add support for custom jest matchers. this enables the addition of toBeValidCSS which wraps the lightningcss to simplify our test cases and make them easier to read
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/setup-custom-matchers.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

move the toBeValidCSS matcher into a lib file as it is a script that acts on our code and is not part of it
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/lib/jest-matchers/index.ts
  packages/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
Labels: foundations

rename the custom jest matcher registrationf ile
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/utils/jest-matchers/index.ts
Labels: foundations

if no message is provided on the thrown error, throw it because it did not come from lightningcss - otherwise return the jest matcher response
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
Labels: foundations

add es6-string-html tagged template literal syntax highlighter so we get syntax highlighting for our CSS block definitions
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

add the lightning css library and fix the comment syntax in the css reset
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/src/utils/resets.ts
  yarn.lock
Labels: foundations

Update .changeset/popular-adults-behave.md
  .changeset/popular-adults-behave.md
Labels: none

Move ToggleSwitch back to dev kitchen
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components, kitchen

Reintroduce tooltip styles
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Use space
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Update readme
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
Labels: kitchen

pull out apps toggle switch
  README.md
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Update story wrapper
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
Labels: kitchen

Add changeset
  .changeset/thick-moons-reply.md
Labels: none

Create `ToggleSwitchApps` component (#1569)
  .changeset/thick-moons-reply.md
  README.md
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Set text sans line-height to regular
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, react-components, kitchen

Add changeset
  .changeset/thin-eyes-wonder.md
Labels: none

Update ToggleSwitch styles
  .changeset/bright-peaches-sparkle.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

remove unnecessary tabs
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

split the CSS string method for typography out into a helper method
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

import SerializedStyles as a type
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

improve wording of the changeset description. remove tests for invalid css from the exported emotion blocks
  .changeset/unpopular-aduls-behave.md
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

make a distinction between exporting Emotion CSS and strings for the input reset and each of the typography method exports. also assert that these work through tests
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

Make textSans default line-height "regular" (#1572)
  .changeset/thin-eyes-wonder.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, react-components, kitchen

Reintsate visibility hidden for tooltip
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Revert tooltip changes
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Reinstate prop
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Add additional stories
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
Labels: kitchen

Add colour explanation
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Update bright-peaches-sparkle.md
  .changeset/bright-peaches-sparkle.md
Labels: none

Create project.yml
  .github/project.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

move workflow to the correct folder
  .github/workflows/project.yml
Labels: none

Update `ToggleSwitch` component styles (#1570)
  .changeset/bright-peaches-sparkle.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
