Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

bump node version we use
  .nvmrc
  package.json
  yarn.lock
Labels: none

Add Guardian Best Website Logo
  packages/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.stories.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.tsx
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

Add Guardian Best Website Logo
  scripts/validate-dist/source-package-exports.test.ts
Labels: none

docs(changeset): Add Guardian Best Website Logo
  .changeset/dry-kids-sort.md
Labels: none

install dependencies for fetch-icons script
  packages/@guardian/source-react-components/package.json
  scripts/get-usage/package.json
  yarn.lock
Labels: react-components

add fetch-icons script
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/scripts/fetch-icons.ts
  packages/@guardian/source-react-components/src/icons/labels.ts
  tsconfig.json
Labels: react-components

expose new icons fetched from figma API
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

Add changeset
  .changeset/strange-tips-play.md
Labels: none

extract usage comment into readme
  packages/@guardian/source-react-components/scripts/README.md
  packages/@guardian/source-react-components/scripts/fetch-icons.ts
Labels: react-components

only run chromatic tests when review is requested
  .github/workflows/chromatic.yml
Labels: none

Apply suggestions from code review
  packages/@guardian/source-react-components/scripts/README.md
  packages/@guardian/source-react-components/scripts/fetch-icons.ts
Labels: react-components

update focus colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

Make logos more accessible to assistive technology users
  packages/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLiveLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundel.tsx
Labels: react-components

docs(changeset): Update focus colour
  .changeset/tame-toys-press.md
Labels: none

Run chromatic on all PR events
  .github/workflows/chromatic.yml
Labels: none

install Nx
  nx.json
  package.json
  yarn.lock
Labels: none

remove old lerna config
  lerna.json
Labels: none

split `validate-dist` and jest tests into their respective packages
  .github/workflows/ci.yml
  docs/contributing/overview.stories.mdx
  package.json
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/jest.e2e.setup.js
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/jest.config.js
  packages/@guardian/source-react-components-development-kitchen/jest.e2e.setup.js
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components/jest.config.js
  packages/@guardian/source-react-components/jest.e2e.setup.js
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/src/index.test.ts
  scripts/get-icons/jest.config.js
  scripts/get-icons/package.json
  scripts/get-usage/jest.config.js
  scripts/get-usage/package.json
  scripts/validate-dist/CHANGELOG.md
  scripts/validate-dist/README.md
  scripts/validate-dist/package.json
  scripts/validate-dist/source-package-exports.test.ts
  scripts/validate-dist/source-validate-types.ts
  scripts/validate-dist/tsconfig.json
Labels: foundations, react-components, kitchen

use Nx to handle `build`, `test`, `clean` and `e2e` tasks
  .gitignore
  package.json
Labels: none

eslint integration tests deps should be main deps
  scripts/eslint-integration-test/package.json
Labels: none

confim CI job names to their `yarn` task names
  .github/workflows/ci.yml
Labels: none

docs(changeset): Empty release to test release process
  .changeset/little-parents-pull.md
Labels: none

remove `eslint-integration-test`
  scripts/eslint-integration-test/.foundations-playground.eslintrc.json
  scripts/eslint-integration-test/.react-components-playground.eslintrc.json
  scripts/eslint-integration-test/README.md
  scripts/eslint-integration-test/foundations-playground.ts
  scripts/eslint-integration-test/package.json
  scripts/eslint-integration-test/react-components-playground.ts
  scripts/eslint-integration-test/src/config.ts
  scripts/eslint-integration-test/src/eslint-config.ts
  scripts/eslint-integration-test/src/file.ts
  scripts/eslint-integration-test/src/index.ts
  scripts/eslint-integration-test/src/print.ts
  scripts/eslint-integration-test/src/setup.ts
  scripts/eslint-integration-test/src/tester.ts
  scripts/eslint-integration-test/src/types.ts
  scripts/eslint-integration-test/test-config.ts
  scripts/eslint-integration-test/tsconfig.json
Labels: none

move eslint rules out from `lib`
  packages/@guardian/eslint-plugin-source-foundations/src/index.ts
  packages/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.test.ts
  packages/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.ts
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.test.ts
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  packages/@guardian/eslint-plugin-source-react-components/src/index.ts
  packages/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.test.ts
  packages/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  yarn.lock
Labels: none

fix `yarn.lock`
  yarn.lock
Labels: none

remove old `get-icons` scripts
  scripts/get-icons/README.md
  scripts/get-icons/case.test.ts
  scripts/get-icons/case.ts
  scripts/get-icons/components.test.ts
  scripts/get-icons/components.ts
  scripts/get-icons/config.ts
  scripts/get-icons/format.ts
  scripts/get-icons/index.ts
  scripts/get-icons/jest.config.js
  scripts/get-icons/log.ts
  scripts/get-icons/package.json
  scripts/get-icons/process.test.ts
  scripts/get-icons/process.ts
  scripts/get-icons/tsconfig.json
Labels: none

refactor `get-icons` into `create-icons/*`
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/scripts/README.md
  packages/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  packages/@guardian/source-react-components/scripts/create-icons/create-readme.ts
  packages/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
  packages/@guardian/source-react-components/scripts/fetch-icons.ts
  packages/@guardian/source-react-components/scripts/vendor/icons/README.md
Labels: react-components

Update packages/@guardian/source-react-components/scripts/vendor/icons/README.md
  packages/@guardian/source-react-components/scripts/vendor/icons/README.md
Labels: react-components

storybook's using a very old version of trim
  package.json
  yarn.lock
Labels: none

remove old config
  babel.config.js
Labels: none

Bump @nrwl/workspace from 14.0.3 to 14.0.5
  package.json
  yarn.lock
Labels: none

Bump @nrwl/cli from 14.0.3 to 14.0.5
  package.json
Labels: none

Bump @babel/core from 7.17.9 to 7.17.10
  package.json
  yarn.lock
Labels: none

add `yarn-lock-changes` action
  .github/workflows/yarn-lock.yml
Labels: none

add guardian’s eslint/prettier configs
  packages/@guardian/eslint-config-typescript/README.md
  packages/@guardian/eslint-config-typescript/index.js
  packages/@guardian/eslint-config-typescript/package.json
  packages/@guardian/eslint-config/DECISION_RECORD.md
  packages/@guardian/eslint-config/README.md
  packages/@guardian/eslint-config/index.js
  packages/@guardian/eslint-config/package.json
  packages/@guardian/prettier/README.md
  packages/@guardian/prettier/index.js
  packages/@guardian/prettier/package.json
  yarn.lock
Labels: none

Add prop to
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Fixed typo in readme
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
Labels: kitchen

Passed disabled prop to labelStyles
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

add supporting images for header api rfc
  docs/rfcs/header-component-api.md
  docs/rfcs/images/header-component-api/brand-bar-link-list.png
  docs/rfcs/images/header-component-api/brand-bar-link.png
  docs/rfcs/images/header-component-api/brand-bar-links.png
  docs/rfcs/images/header-component-api/brand-bar.png
  docs/rfcs/images/header-component-api/editorial-header-edition-switch-item.png
  docs/rfcs/images/header-component-api/editorial-header-edition-switch.png
  docs/rfcs/images/header-component-api/editorial-header.png
  docs/rfcs/images/header-component-api/header.png
  docs/rfcs/images/header-component-api/navigation-expanded.png
  docs/rfcs/images/header-component-api/navigation-primary-link.png
  docs/rfcs/images/header-component-api/navigation-primary-links.png
  docs/rfcs/images/header-component-api/navigation-secondary-link.png
  docs/rfcs/images/header-component-api/navigation-secondary-links-group.png
  docs/rfcs/images/header-component-api/navigation-secondary-links-supplemental-link.png
  docs/rfcs/images/header-component-api/navigation-secondary-links.png
Labels: none

add header component api rfc
  docs/rfcs/header-component-api.md
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
