Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Bump @guardian/libs to latest major version (#1591)
  .changeset/gold-keys-swim.md
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
  yarn.lock
Labels: kitchen

rebase onto latest main
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  yarn.lock
Labels: none

revert libs bump
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
Labels: none

add e2e test to components plugin
  packages/@guardian/eslint-plugin-source-react-components/jest.config.js
  packages/@guardian/eslint-plugin-source-react-components/jest.e2e.setup.js
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/src/index.test.ts
Labels: none

add e2e test to foundations plugin
  packages/@guardian/eslint-plugin-source-foundations/jest.config.js
  packages/@guardian/eslint-plugin-source-foundations/jest.e2e.setup.js
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/src/index.test.ts
  yarn.lock
Labels: none

update jest config in plugins
  packages/@guardian/eslint-plugin-source-foundations/jest.config.js
  packages/@guardian/eslint-plugin-source-react-components/jest.config.js
Labels: none

update yarn.lock
  yarn.lock
Labels: none

Add e2e tests for eslint plugins (#1588)
  packages/@guardian/eslint-plugin-source-foundations/jest.config.js
  packages/@guardian/eslint-plugin-source-foundations/jest.e2e.setup.js
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/src/index.test.ts
  packages/@guardian/eslint-plugin-source-react-components/jest.config.js
  packages/@guardian/eslint-plugin-source-react-components/jest.e2e.setup.js
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/src/index.test.ts
Labels: none

refactor(Logo): individual paths for letters
  .changeset/stale-hairs-hammer.md
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
Labels: react-components

docs(Logo): indicate which letter a path is
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
Labels: react-components

TheGuardian Logo: split letters into their own paths (#1600)
  .changeset/stale-hairs-hammer.md
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
Labels: react-components

Use focusHaloSpaced for focus styles
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Use focus
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

use :focus-visible over :focus and FocusStyleManager for elements where we customise the focus ring
  .storybook/preview.tsx
  packages/@guardian/source-react-components/src/accordion/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: react-components

update focus styles
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Add changeset
  .changeset/twelve-carrots-buy.md
Labels: none

Use CSS from `focusHaloSpaced` for `ToggleSwitch` focus styles (#1602)
  .changeset/twelve-carrots-buy.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Add empty deps array to brower check useEffect
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Add empty deps array to `ToggleSwitch` browser check useEffect (#1603)
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Add changeset
  .changeset/blue-deers-cough.md
Labels: none

Add missing changeset
  .changeset/unlucky-turtles-travel.md
Labels: none

Add missing changeset for `ToggleSwitch` bug fix (#1604)
  .changeset/unlucky-turtles-travel.md
Labels: none

skeleton contributing.md
  CONTRIBUTING.md
Labels: none

Remove subdued prop from types
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/link/types.ts
Labels: react-components

Use Source's ESLint plugins in Source (#1464)
  .eslintrc.js
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  tsconfig.json
Labels: none

add an implicit dependency for the nx monorepo between eslint-plugin-source-foundations and source-foundations
  nx.json
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/source-foundations/package.json
  tsconfig.json
  yarn.lock
Labels: foundations

add lint scripts to all projects, and ensure that eslint-plugin-* is built
  .eslintrc.js
  .github/workflows/ci.yml
  nx.json
  package.json
  packages/@guardian/eslint-plugin-source-foundations/.eslintrc.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/.eslintrc.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
Labels: foundations, react-components, kitchen

wip add fresh storybook install
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  .storybook_OLD/colorPalette.tsx
  .storybook_OLD/main.js
  .storybook_OLD/manager-head.html
  .storybook_OLD/manager.js
  .storybook_OLD/preview-head.html
  .storybook_OLD/preview.tsx
  .storybook_OLD/preview/FocusManagerDecorator.tsx
  .storybook_OLD/preview/ThemeProviderDecorator.tsx
  .storybook_OLD/preview/backgrounds.ts
  .storybook_OLD/preview/viewport.ts
  .storybook_OLD/theme.ts
  .storybook_OLD/typographyRenderers.tsx
  .storybook_OLD/webpack.config.js
  package.json
  packages/@guardian/source-react-components/stories/HelloWorld.tsx
  packages/@guardian/source-react-components/stories/hello_world.stories.tsx
  packages/@guardian/source-react-components/stories/hello_world_mdx.stories.mdx
  yarn.lock
Labels: react-components

add emotion to new storybook setup, swap to render our button component
  .storybook/main.js
  .storybook/preview.tsx
  .storybook/preview/ThemeProviderDecorator.tsx
  .storybook/webpack.config.js
  packages/@guardian/source-react-components/stories/Button.stories.tsx
  packages/@guardian/source-react-components/stories/HelloWorld.tsx
  packages/@guardian/source-react-components/stories/hello_world.stories.tsx
Labels: react-components

copy across minimum viable Source storybook files from the existing Storybook setup
  .storybook/main.js
  .storybook/preview.js
  .storybook/preview.tsx
  packages/@guardian/source-react-components/stories/Button.stories.tsx
  packages/@guardian/source-react-components/stories/hello_world_mdx.stories.mdx
Labels: react-components

set viewMode to story as it has been renamed from canvas in a subsequent storybook release
  docs/contributing/stories.stories.mdx
  lib/story-intents.ts
  packages/@guardian/source-react-components-development-kitchen/src/divider/Divider.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/logo/Logo.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/summary/ErrorSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/summary/InfoSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/summary/SuccessSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/accordion/Accordion.stories.tsx
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  packages/@guardian/source-react-components/src/columns/Columns.stories.tsx
  packages/@guardian/source-react-components/src/container/Container.stories.tsx
  packages/@guardian/source-react-components/src/inline/Inline.stories.tsx
  packages/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/radio/Radio.stories.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  packages/@guardian/source-react-components/src/stack/Stack.stories.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  packages/@guardian/source-react-components/src/tiles/Tiles.stories.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
Labels: react-components, kitchen

remove the stories/ directory as we were using it to decide best practice
  packages/@guardian/source-react-components/stories/Button.stories.tsx
  packages/@guardian/source-react-components/stories/documentation_example.stories.mdx
Labels: react-components

add back the build:storybook command
  package.json
Labels: none

fix type errors
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  packages/@guardian/source-react-components/src/columns/Columns.stories.tsx
  packages/@guardian/source-react-components/src/tiles/Tiles.stories.tsx
Labels: react-components, kitchen

install latest version of @types/react
  package.json
  yarn.lock
Labels: none

add backgrounds configuration
  .storybook/preview.tsx
  .storybook/preview/backgrounds.ts
Labels: none

clarify the target of the line in the sand
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Move Chromatic viewport definitions into individual component parameters.
  packages/@guardian/source-react-components-development-kitchen/src/logo/Logo.stories.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  packages/@guardian/source-react-components/src/columns/Columns.stories.tsx
  packages/@guardian/source-react-components/src/footer/Footer.stories.tsx
  packages/@guardian/source-react-components/src/hide/Hide.stories.tsx
  packages/@guardian/source-react-components/src/tiles/Tiles.stories.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
Labels: react-components, kitchen

delete redundant story-intents file and lib containing folder
  lib/story-intents.ts
Labels: none

fix typos in columns story
  packages/@guardian/source-react-components/src/columns/Columns.stories.tsx
Labels: react-components

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
