Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

add subnav api
  docs/rfcs/header-component-api.md
  docs/rfcs/images/header-component-api/subnav-link.png
  docs/rfcs/images/header-component-api/subnav.png
Labels: none

Fix lint
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Fix prettier
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

docs(changeset): Adds a disabled prop which disables the ToggleSwitch and implements disabled specific styling
  .changeset/itchy-monkeys-battle.md
Labels: none

Value of 'disabled' passed through the prop rather than as a param; avoid dynamic styling.
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Add '...props' back in.
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

refactor ChoiceCard theme to use new palette colour tokens
  packages/@guardian/source-react-components/src/choice-card/theme.ts
Labels: react-components

update ChoiceCard border colour to neutral[46] for a11y
  packages/@guardian/source-react-components/src/choice-card/theme.ts
Labels: react-components

refactor Checkbox theme to use new palette colour tokens
  packages/@guardian/source-react-components/src/checkbox/theme.ts
Labels: react-components

update Checkbox default theme border colour to neutral[46] for a11y
  packages/@guardian/source-react-components/src/checkbox/theme.ts
Labels: react-components

refactor focusHalo to use new palette colour tokens
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
Labels: foundations

create new FocusHaloSpaced foundation to use for buttons
  packages/@guardian/source-foundations/src/accessibility/focus-halo.stories.mdx
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/index.ts
Labels: foundations

apply focusHaloSpaced to Button style
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

refactor focusHaloSpaced to use offset outline instead of box-shadow to enable spacing to be transparent
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
Labels: foundations

docs(changeset): Add spaced focus halo and apply to buttons
  .changeset/cool-bats-occur.md
Labels: none

docs(changeset): Improve accessibility of unselected state of checkbox
  .changeset/strange-brooms-talk.md
Labels: none

docs(changeset): Improve accessibility of unselected state of ChoiceCard
  .changeset/perfect-rings-try.md
Labels: none

update test in foundations to include focusHaloSpaced export
  packages/@guardian/source-foundations/src/index.test.ts
Labels: foundations

Add renovate.json
  renovate.json
Labels: none

update focusHalo story based on feedback
  packages/@guardian/source-foundations/src/accessibility/focus-halo.stories.mdx
Labels: foundations

update focus colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

docs(changeset): Update focusHalo colour
  .changeset/good-pillows-do.md
Labels: none

update comments by colours to reflect change in focus colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

removed unused colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

update changeset
  .changeset/good-pillows-do.md
Labels: none

docs(changeset): Change brand[500] colour token
  .changeset/loud-cameras-hug.md
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

update comment on colors object to reflect change in token colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

update changeset
  .changeset/loud-cameras-hug.md
Labels: none

remove unused colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

change underline on text button to always show, be offset by 4px and change to 4px thickness on hover
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

docs(changeset): Change underline on subdued Button
  .changeset/gentle-glasses-compete.md
Labels: none

implement changes from design review
  docs/rfcs/header-component-api.md
  docs/rfcs/images/header-component-api/masthead-link.png
  docs/rfcs/images/header-component-api/masthead-links.png
  docs/rfcs/images/header-component-api/masthead-menu.png
  docs/rfcs/images/header-component-api/masthead.png
Labels: none

add support component
  docs/rfcs/header-component-api.md
  docs/rfcs/images/header-component-api/support-buttons.png
  docs/rfcs/images/header-component-api/support-thank-you.png
Labels: none

docs(changeset): Update focusHalo colour
  .changeset/twelve-taxis-nail.md
Labels: none

remove old changeset
  .changeset/good-pillows-do.md
Labels: none

docs(changeset): Change brand[500] colour token
  .changeset/perfect-wombats-fix.md
Labels: none

update changeset
  .changeset/loud-cameras-hug.md
Labels: none

remove subdued links
  packages/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  packages/@guardian/source-react-components/src/link/ButtonLink.tsx
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/link/Link.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/link/types.ts
Labels: react-components

docs(changeset): Improve Link/ButtonLink accessibility
  .changeset/clean-rockets-tickle.md
Labels: none

position Link/ButtonLink underline beneath descenders
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: react-components

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
