Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

use correct values for font weight and italic configuration
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

add explanation to why the Fs type is deprecated
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

simplify types for the font scale and typography options
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

change 'options' to 'configuration' so we don't get confused with default and user specified values
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

rename fs to getFontSettingsWithDefaults and shift the types for each of the helper methods to the types.ts file to aid readability
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

improve font style function generator documentation to include a usage example
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

change fontStyle to be known as 'fontStyleFunction', a curried method that generates a new method used to create styles for a specific category/level combination
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

reduce size of the fs method so its behaviour is more self explanatory
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

remove line for linter
  packages/@guardian/source-foundations/src/typography/index.ts
Labels: foundations

massive tidyup in api.ts, create a new wrapper generator method which is hopefully far cleaner and concise
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

remove two deprecated colours from our palette
  packages/@guardian/source-foundations/src/colour/palette.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/styles.ts
Labels: foundations, kitchen

add changeset
  .changeset/wise-ears-repair.md
Labels: none

Update .changeset/swift-flies-trade.md to a patch
  .changeset/swift-flies-trade.md
Labels: none

set the width of the loading spinner to 24px as specified by our designers
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

add changeset for button spinner width
  .changeset/swift-flies-trade.md
Labels: none

make the lint config for test more lenient (#1549)
  .eslintrc.js
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

make the `Theme` type an explicitly imported type
  packages/@guardian/source-react-components/src/@types/Theme.d.ts
  packages/@guardian/source-react-components/src/@types/Theme.ts
  packages/@guardian/source-react-components/src/accordion/Accordion.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/LabelText.tsx
  packages/@guardian/source-react-components/src/checkbox/SupportingText.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.tsx
  packages/@guardian/source-react-components/src/footer/Footer.tsx
  packages/@guardian/source-react-components/src/label/SupportingText.tsx
  packages/@guardian/source-react-components/src/label/Text.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  tsconfig.json
Labels: react-components

Create metal-ducks-argue.md
  .changeset/metal-ducks-argue.md
Labels: none

Turn the `Theme` type into an explicitly imported type (#1555)
  .changeset/metal-ducks-argue.md
  packages/@guardian/source-react-components/src/@types/Theme.d.ts
  packages/@guardian/source-react-components/src/@types/Theme.ts
  packages/@guardian/source-react-components/src/accordion/Accordion.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/LabelText.tsx
  packages/@guardian/source-react-components/src/checkbox/SupportingText.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.tsx
  packages/@guardian/source-react-components/src/footer/Footer.tsx
  packages/@guardian/source-react-components/src/label/SupportingText.tsx
  packages/@guardian/source-react-components/src/label/Text.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  tsconfig.json
Labels: react-components

what is going on
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
Labels: react-components, kitchen

define each loading spinner size in pixels against the three button size variants
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

add stories for small and xsmall loading buttons
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
Labels: react-components

add changeset for button spinner size fix
  .changeset/smooth-garlics-swim.md
Labels: none

starting point
  README.md
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/src/toggle-switch/README.md
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
Labels: react-components, kitchen

Split components
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
Labels: react-components, kitchen

Remove web styles from apps toggle
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
Labels: kitchen

Pass value to textarea
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
Labels: react-components

add changeset
  .changeset/purple-countries-think.md
Labels: none

Add story and use defaultValue
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
Labels: react-components

Update story name
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
Labels: react-components

Update purple-countries-think.md
  .changeset/purple-countries-think.md
Labels: none

Add event handler to story
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
Labels: react-components

Update purple-countries-think.md
  .changeset/purple-countries-think.md
Labels: none

define each loading spinner size in pixels against the three button size variants
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

add changeset for button spinner size fix
  .changeset/smooth-garlics-swim.md
Labels: none

add stories for small and xsmall loading buttons
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
Labels: react-components

Update purple-countries-think.md
  .changeset/purple-countries-think.md
Labels: none

Pass value to textarea component (#1559)
  .changeset/purple-countries-think.md
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
Labels: react-components

apply visually hidden css rules recommended by the DAC (Digital Accessibility Centre)
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

annotate the rules for context, provide links to helpful articles
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
