Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Add special report alt colours (#1544)
  .changeset/rich-walls-chew.md
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

format icon components on creation
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
Labels: react-components

bump `@guardian/prettier`
  package.json
  yarn.lock
Labels: none

add newletter label to icon
  packages/@guardian/source-react-components/src/icons/labels.ts
  packages/@guardian/source-react-components/vendor/icons/SvgNewsletter.tsx
Labels: react-components

format readme correctly
  packages/@guardian/source-react-components/scripts/create-icons/create-readme.ts
Labels: react-components

format readme correctly
  packages/@guardian/source-react-components/scripts/create-icons/create-readme.ts
Labels: react-components

add newletter label to icon
  packages/@guardian/source-react-components/src/icons/labels.ts
  packages/@guardian/source-react-components/vendor/icons/SvgNewsletter.tsx
Labels: react-components

format icon components on creation
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
Labels: react-components

bump `@guardian/prettier`
  package.json
  yarn.lock
Labels: none

align eslint config with csnx
  .eslintrc.js
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

add changeset
  .changeset/wild-sheep-glow.md
Labels: none

set the width of the loading spinner to 24px as specified by our designers
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

add changeset for button spinner width
  .changeset/swift-flies-trade.md
Labels: none

simplify types for the font scale and typography options
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

begin to simplify the fs method by removing currying from the function interface
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

use correct values for font weight and italic configuration
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

reduce size of the fs method so its behaviour is more self explanatory
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

remove mapping types in favour of using the existing definitions in data.ts and renaming them (by removing the *Size suffix) so that it maps correctly across
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

we need to retain the Fs type for backwards compatibility, because it is exported by index.ts in source-foundations
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

simplify the getFontStyle method, removing the helper methods which could be coalesced into a concise set of variables inside the parent
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

rename fs to getFontSettingsWithDefaults and shift the types for each of the helper methods to the types.ts file to aid readability
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

rename fs -> fontSettings; rename overrides -> options
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fontSettings.ts
Labels: foundations

massive tidyup in api.ts, create a new wrapper generator method which is hopefully far cleaner and concise
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

change fontStyle to be known as 'fontStyleFunction', a curried method that generates a new method used to create styles for a specific category/level combination
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

rename to getFontStyle and use spread instead of Object.assign
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

rename font weight availability methods for clarity
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

doc comment for the font style to string method
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

change 'options' to 'configuration' so we don't get confused with default and user specified values
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

improve font style function generator documentation to include a usage example
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

remove line for linter
  packages/@guardian/source-foundations/src/typography/index.ts
Labels: foundations

add explanation to why the Fs type is deprecated
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

Update .changeset/swift-flies-trade.md to a patch
  .changeset/swift-flies-trade.md
Labels: none

rename font weight availability methods for clarity
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

rename fs -> fontSettings; rename overrides -> options
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fontSettings.ts
Labels: foundations

simplify the getFontStyle method, removing the helper methods which could be coalesced into a concise set of variables inside the parent
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

we need to retain the Fs type for backwards compatibility, because it is exported by index.ts in source-foundations
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

doc comment for the font style to string method
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

remove mapping types in favour of using the existing definitions in data.ts and renaming them (by removing the *Size suffix) so that it maps correctly across
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

rename to getFontStyle and use spread instead of Object.assign
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

begin to simplify the fs method by removing currying from the function interface
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
