Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

update some leftover yarn usage
  .husky/pre-commit
  docs/contributing/overview.stories.mdx
  docs/contributing/stories.stories.mdx
  packages/@guardian/source-foundations/README.md
Labels: foundations

Update CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Labels: kitchen

Update packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Labels: kitchen

use nx to run `tsc`
  nx.json
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/tsconfig.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/tsconfig.json
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/tsconfig.json
  scripts/get-usage/package.json
  scripts/get-usage/tsconfig.json
Labels: foundations, react-components, kitchen

Fixed typo in readme
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
Labels: kitchen

Created tooltip element, implemented check to see if JS is enabled
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Implemented tooltip styling
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

Correct isBrowser check
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Add tooltip prop to ToggleSwitch
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

Change height to test tooltip
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
Labels: kitchen

Remove platform-specific tooltip styling
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

docs(changeset): Add tooltip to ToggleSwitch
  .changeset/neat-ads-help.md
Labels: none

bump `devDependencies`
  yarn.lock
Labels: none

Create no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

use eslint packages in source
  .eslintrc.js
Labels: none

add paths to eslint plugins
  tsconfig.json
Labels: none

symlink path to eslint plugins
  .eslintrc.js
Labels: none

build eslint plugins before runing lint on ci
  .eslintrc.js
  .github/workflows/ci.yml
Labels: none

Remove `console.log` from rule
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
Labels: none

docs(changeset): Remove `console.log` from `valid-foundations-import-path` rule
  .changeset/big-comics-heal.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Add note about AccordionRow max-height
  packages/@guardian/source-react-components/src/accordion/Accordion.tsx
Labels: react-components

Update link to the Contributing Guidelines
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Update docs/rfcs/no-unusable-components-line-in-the-sand.md
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

Prevent layout jumps during page rendering
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

Trigger snyk
  .github/workflows/snyk.yml
Labels: none

chore: Trigger snyk
  .github/workflows/snyk.yml
Labels: none

Add TextDecorationThickness to typography
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-react-components/src/link/LinkHover.stories.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

Add 14px to Body font
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

Replace titlepiece with headline
  packages/@guardian/source-react-components/src/link/LinkHover.stories.tsx
Labels: react-components

docs(changeset): Adds xsmall to body font
  .changeset/ninety-bobcats-press.md
Labels: none

Create new story templates
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/link/LinkHover.stories.tsx
Labels: react-components

Naming tweak
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
Labels: react-components

docs(changeset): Add 14px "xsmall" font size to body
  .changeset/curvy-owls-train.md
  .changeset/ninety-bobcats-press.md
Labels: none

add docs on versioning visual changes
  docs/contributing/overview.stories.mdx
Labels: none

Update default border colours
  .changeset/calm-llamas-talk.md
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/theme.ts
Labels: react-components

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
