Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

feat: use SVG for straight lines too
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
Labels: kitchen

refactor: favour individual *Lines components
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
Labels: kitchen

fix: prevent selection or reading of SVGs
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
Labels: kitchen

docs(changeset): Drop the background-image repeating css rules in favour of pure SVG patterns that can fill up to our largest breakpoint of 1300px.
  .changeset/twelve-insects-repeat.md
Labels: none

docs(changeset): Use an SVG to render straight lines, too.
  .changeset/chilled-spiders-report.md
Labels: none

fix: only import neutral palette
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
Labels: kitchen

docs(changeset): This is really what we want
  .changeset/rude-chicken-camp.md
Labels: none

fix(tests): update kitchen exports
  scripts/validate-dist/source-package-exports.test.ts
Labels: none

feat(lines): pure SVG patterns (#1320)
  .changeset/chilled-spiders-report.md
  .changeset/rude-chicken-camp.md
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/dashed.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/dotted.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/squiggly.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/styles.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: kitchen

feat(StarRating): pure SVG component
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/star.ts
Labels: kitchen

docs(changeset): StarRating uses pure SVG instead of a background-image.
  .changeset/odd-tips-hope.md
Labels: none

fix: small star styling with chromatic stories
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
Labels: kitchen

fix: small visual fixes
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
Labels: kitchen

fix(a11y): prevent focusing on SVG element
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
Labels: kitchen

feat: pure SVG `StarRating` component (#1322)
  .changeset/odd-tips-hope.md
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/star.ts
Labels: kitchen

rationalise chromatic action
  .github/workflows/chromatic.yml
Labels: none

rename `cd` action
  .github/workflows/gh-pages.yml
Labels: none

change labeller action name
  .github/workflows/labeler.yml
Labels: none

rationalise the main tasks/CI action
  .github/workflows/ci.yml
  package.json
Labels: none

move integtration tests to CI
  .github/workflows/ci.yml
  .github/workflows/eslint-plugin-integration-tests.yml
Labels: none

coverage is a jest concern, not a root concern
  package.json
  packages/@guardian/source-foundations/package.json
  scripts/get-icons/package.json
  scripts/get-usage/package.json
  scripts/validate-dist/package.json
Labels: foundations

only one `clean` needed
  package.json
Labels: none

remove unused `nx` config
  nx.json
Labels: none

`yarn build:packages` no longer exists
  .github/workflows/ci.yml
  package.json
Labels: none

itegration tests now run as part of `test`
  .github/workflows/ci.yml
Labels: none

point test packages directly to files of local deps
  scripts/eslint-integration-test/package.json
  scripts/validate-dist/package.json
  yarn.lock
Labels: none

Use storybook-deployer
  .github/workflows/deploy-storybook.yml
  .github/workflows/gh-pages.yml
  package.json
  yarn.lock
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update changesets.yml
  .github/workflows/changesets.yml
Labels: none

bump `rollup-plugin-ts` to v2 and remove `rollup-plugin-dts`
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/rollup.config.js
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/rollup.config.js
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/rollup.config.js
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/rollup.config.js
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/rollup.config.js
  yarn.lock
Labels: foundations, react-components, kitchen

Create dull-lizards-draw.md
  .changeset/dull-lizards-draw.md
Labels: none

bump deps within current ranges
  yarn.lock
Labels: none

lint fixes
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  scripts/get-usage/index.ts
Labels: react-components

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

bump yarn version
  .yarnrc
Labels: none

bump some deps
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  yarn.lock
Labels: none

bump lint staged
  package.json
  yarn.lock
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none
