Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

Update cool-deers-chew.md
  .changeset/cool-deers-chew.md
Labels: none

Make `textSans` default line-height "regular" (#1531)
  .changeset/cool-deers-chew.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, react-components, kitchen

Revert "Release package updates (#1536)"
  .changeset/cool-deers-chew.md
  packages/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/CHANGELOG.md
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/CHANGELOG.md
  packages/@guardian/source-react-components/package.json
Labels: foundations, react-components, kitchen

Revert "Release package updates" (#1538)
  .changeset/cool-deers-chew.md
  packages/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/CHANGELOG.md
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/CHANGELOG.md
  packages/@guardian/source-react-components/package.json
Labels: foundations, react-components, kitchen

Revert "Make `textSans` default line-height "regular" (#1531)"
  .changeset/cool-deers-chew.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, react-components, kitchen

Revert "Make `textSans` default line-height "regular"" (#1539)
  .changeset/cool-deers-chew.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, react-components, kitchen

Move component to Source and fix paths
  packages/@guardian/source-react-components/src/toggle-switch/README.md
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
Labels: react-components

Revert "Move component to Source and fix paths"
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

flatten the structure of the typography theme definitions in an attempt to simply the file
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

fix structure of the font mapping object
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

remove all references to lineHeightMapping; fontMapping, and fontWeightMapping in favour of lineHeights, fonts, and fontWeights
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/obj/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

fix import for fontWeights after the rename from fontWeightMapping
  .storybook/typographyRenderers.tsx
Labels: none

changelog patch
  .changeset/twenty-onions-fetch.md
Labels: none

fix font mapping after rebase against main to ensure we expose the fonts under the names used in the current API
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

link to rem method via alternate means to avoid a lint fail
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

document the font size exports and rename two variables
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

export each individual block so we can count references
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

leave behind static computation of rem values for now to avoid diverting attention in the pr
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

Lock typographic scales (#1535)
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

base rem calculation from pxTextSizes
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

flip type check for AvailableFontsMapping object
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

replace comments with size scales with a link to the test where we make these assertions
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

wording on doc comment for type scale
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

replace comments with size scales with a link to the test where we make these assertions
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

leave behind static computation of rem values for now to avoid diverting attention in the pr
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

remove all references to lineHeightMapping; fontMapping, and fontWeightMapping in favour of lineHeights, fonts, and fontWeights
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/obj/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

fix structure of the font mapping object
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

document the font size exports and rename two variables
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

fix import for fontWeights after the rename from fontWeightMapping
  .storybook/typographyRenderers.tsx
Labels: none

flatten the structure of the typography theme definitions in an attempt to simply the file
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

changelog patch
  .changeset/twenty-onions-fetch.md
Labels: none

Lock typographic scales (#1535)
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

link to rem method via alternate means to avoid a lint fail
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

flip type check for AvailableFontsMapping object
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

export each individual block so we can count references
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

fix font mapping after rebase against main to ensure we expose the fonts under the names used in the current API
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

base rem calculation from pxTextSizes
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

wording on doc comment for type scale
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

Add special report alt colours:
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

Add changeset
  .changeset/rich-walls-chew.md
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
