Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

fonts as const
  packages/@guardian/source-foundations/src/typography/data.ts
Labels: foundations

use data as source of truth types from constants
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

stricter scale unit type
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

add default ScaleUnit to TypographyStyles<>
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

remove TypographySizes type
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  scripts/validate-dist/source-validate-types.ts
Labels: foundations

set headlineSizes as const
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

add link to reproducible error
  packages/@guardian/source-foundations/src/typography/fs.ts
Labels: foundations

remove docstrings
  packages/@guardian/source-foundations/src/typography/index.ts
Labels: foundations

more explicit types in the signatures
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

remove default param
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
Labels: foundations

docs(changeset): Typography constants with IDE hints
  .changeset/happy-donkeys-drum.md
Labels: none

fix: mark TypographySizes as deprecated
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  scripts/validate-dist/source-validate-types.ts
Labels: foundations

Update .changeset/happy-donkeys-drum.md
  .changeset/happy-donkeys-drum.md
Labels: none

chore(types): Typography constants (#1202)
  .changeset/happy-donkeys-drum.md
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

Simplify the Source docs homepage
  .storybook/preview.tsx
  docs/getting-started.stories.mdx
  docs/source.stories.mdx
Labels: none

Fix broken links
  docs/release-notes/v3.stories.mdx
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/accessibility/description-id.ts
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
  packages/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-react-components-development-kitchen/src/divider/README.md
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/README.md
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/README.md
  packages/@guardian/source-react-components-development-kitchen/src/logo/Logo.tsx
  packages/@guardian/source-react-components-development-kitchen/src/logo/README.md
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/README.md
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/README.md
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
  packages/@guardian/source-react-components-development-kitchen/src/summary/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: foundations, kitchen

chore(git): ignore .env file (#1313)
  .gitignore
Labels: none

make sure cursor is pointer for whole checkbox and label
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

refactor to fix chromatic diffs
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

implement radio label and input separation
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/radio/styles.ts
Labels: react-components

refactor checkbox component to include id
  packages/@guardian/source-foundations/src/accessibility/generate-source-id.ts
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: foundations, react-components

docs(changeset): Accessibility improvements to form components
  .changeset/flat-tables-speak.md
Labels: none

add id to radio
  packages/@guardian/source-react-components/src/radio/Radio.tsx
Labels: react-components

move hover behaviour into checkbox container
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
Labels: react-components

separate input and label in select component
  packages/@guardian/source-foundations/src/accessibility/generate-source-id.ts
  packages/@guardian/source-react-components/src/select/Select.tsx
Labels: foundations, react-components

separate input and label in TextInput and TextArea components
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
Labels: react-components

move deprecated exports to their own file
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

Create tidy-fishes-argue.md
  .changeset/tidy-fishes-argue.md
Labels: none

Update tidy-fishes-argue.md
  .changeset/tidy-fishes-argue.md
Labels: none

use `deprecated-exports`
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

these should have been moved before
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

Create four-monkeys-teach.md
  .changeset/four-monkeys-teach.md
Labels: none

divx => devx
  docs/contributing/overview.stories.mdx
Labels: none

add nx and use it to run `clean`, `build` and `test` targets
  nx.json
  package.json
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/package.json
  scripts/eslint-integration-test/package.json
  scripts/get-icons/jest.config.js
  scripts/get-icons/package.json
  scripts/get-usage/jest.config.js
  scripts/get-usage/package.json
  scripts/validate-dist/package.json
  yarn.lock
Labels: foundations

add some documentation
  packages/@guardian/source-foundations/src/accessibility/generate-source-id.stories.mdx
Labels: foundations

fix: keep support for cssOverrides
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
Labels: kitchen

refactor: proper instrudctions
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
Labels: kitchen

fix: make it patch releases
  .changeset/chilled-spiders-report.md
  .changeset/rude-chicken-camp.md
  .changeset/twelve-insects-repeat.md
Labels: none

chore(lines): remove unused styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/styles.ts
Labels: kitchen

feat(lines): pure SVG patterns
  packages/@guardian/source-react-components-development-kitchen/src/lines/Dashed.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Dotted.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Squiggly.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/dashed.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/dotted.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/squiggly.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/styles.ts
Labels: kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
