Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

add changeset for visually hidden
  .changeset/tidy-suits-pay.md
Labels: none

Change changeset to major as it could break layouts
  .changeset/tidy-suits-pay.md
Labels: none

annotate the rules for context, provide links to helpful articles
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

add changeset for visually hidden
  .changeset/tidy-suits-pay.md
Labels: none

Change changeset to major as it could break layouts
  .changeset/tidy-suits-pay.md
Labels: none

apply visually hidden css rules recommended by the DAC (Digital Accessibility Centre)
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

dont use yarn 3!
  package.json
Labels: none

Create palette
  packages/@guardian/source-react-components/scripts/create-palettes/create-alt-palette.ts
  packages/@guardian/source-react-components/scripts/create-palettes/create-readme.ts
  packages/@guardian/source-react-components/scripts/create-palettes/index.ts
  packages/@guardian/source-react-components/vendor/palettes/README.md
  packages/@guardian/source-react-components/vendor/palettes/paletteOpacity0.4.json
  packages/@guardian/source-react-components/vendor/palettes/paletteOpacity0.6.json
Labels: react-components

Update styling and stories
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
  yarn.lock
Labels: react-components

toggle colours
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
Labels: react-components

if no message is provided on the thrown error, throw it because it did not come from lightningcss - otherwise return the jest matcher response
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
Labels: foundations

rename the custom jest matcher registrationf ile
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/utils/jest-matchers/index.ts
Labels: foundations

remove unnecessary tabs
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

add support for custom jest matchers. this enables the addition of toBeValidCSS which wraps the lightningcss to simplify our test cases and make them easier to read
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/setup-custom-matchers.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

add deprecated comment above input scss rule
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

move the toBeValidCSS matcher into a lib file as it is a script that acts on our code and is not part of it
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/lib/jest-matchers/index.ts
  packages/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
Labels: foundations

Update .changeset/popular-adults-behave.md
  .changeset/popular-adults-behave.md
Labels: none

update changeset
  .changeset/popular-adults-behave.md
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: foundations, react-components

remove the template string css syntax highlight plugin to be proposed as a separate pr
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

add es6-string-html tagged template literal syntax highlighter so we get syntax highlighting for our CSS block definitions
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

split the CSS string method for typography out into a helper method
  packages/@guardian/source-foundations/src/typography/font-styles.ts
Labels: foundations

make a distinction between exporting Emotion CSS and strings for the input reset and each of the typography method exports. also assert that these work through tests
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

deprecate resets.input and provide resets.inputSCSS, remove line from changelog around the internal testing as it does not affect the end user
  .changeset/popular-adults-behave.md
  packages/@guardian/source-foundations/src/utils/resets.test.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
Labels: foundations, react-components

switch from 'it' to 'test' for added clarity
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

improve wording of the changeset description
  .changeset/popular-adults-behave.md
Labels: none

Remove palette creation
  packages/@guardian/source-react-components/scripts/create-palettes/create-alt-palette.ts
  packages/@guardian/source-react-components/scripts/create-palettes/create-readme.ts
  packages/@guardian/source-react-components/scripts/create-palettes/index.ts
  packages/@guardian/source-react-components/vendor/palettes/README.md
  packages/@guardian/source-react-components/vendor/palettes/paletteOpacity0.4.json
  packages/@guardian/source-react-components/vendor/palettes/paletteOpacity0.6.json
Labels: react-components

fix deprecation comment for opinion.300 and culture.350. exclude these two colours from the palette story
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

Remove all refs to tooltips
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components/src/toggle-switch/styles.ts
Labels: react-components, kitchen

add changeset
  .changeset/spotty-cows-buy.md
Labels: none

Add noJs story
  packages/@guardian/source-react-components/src/toggle-switch/ToggleSwitch.stories.tsx
Labels: react-components

add changeset
  .changeset/spotty-cows-buy.md
Labels: none

fix deprecation comment for opinion.300 and culture.350. exclude these two colours from the palette story
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

Update yarn.lock
  yarn.lock
Labels: none

add changeset to describe why we are patch-bumping these packages
  .changeset/hungry-eyes-wink.md
Labels: none

add changeset to describe why we are patch-bumping these packages
  .changeset/hungry-eyes-wink.md
Labels: none

switch from 'it' to 'test' for added clarity
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

add support for custom jest matchers. this enables the addition of toBeValidCSS which wraps the lightningcss to simplify our test cases and make them easier to read
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/accessibility/accessibility.test.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/setup-custom-matchers.ts
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
  packages/@guardian/source-foundations/src/utils/resets.test.ts
Labels: foundations

add es6-string-html tagged template literal syntax highlighter so we get syntax highlighting for our CSS block definitions
  .vscode/extensions.json
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/typography/font-styles.ts
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: foundations

rename the custom jest matcher registrationf ile
  packages/@guardian/source-foundations/jest.config.js
  packages/@guardian/source-foundations/src/utils/jest-matchers/index.ts
Labels: foundations

if no message is provided on the thrown error, throw it because it did not come from lightningcss - otherwise return the jest matcher response
  packages/@guardian/source-foundations/src/utils/jest-matchers/toBeValidCSS.ts
Labels: foundations

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
