Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

add a11y label to offline cloud icon
  packages/@guardian/source-react-components/src/icons/SvgOfflineCloud.tsx
Labels: react-components

add a11y label to gift icon
  packages/@guardian/source-react-components/src/icons/SvgGift.tsx
Labels: react-components

add a11y label to globe icon
  packages/@guardian/source-react-components/src/icons/SvgGlobe.tsx
Labels: react-components

add a11y label to chevronDownSingle icon
  packages/@guardian/source-react-components/src/icons/SvgChevronDownSingle.tsx
Labels: react-components

add a11y label to direct debit icon
  packages/@guardian/source-react-components/src/icons/SvgDirectDebit.tsx
Labels: react-components

add a11y label to chevronRightSingle icon
  packages/@guardian/source-react-components/src/icons/SvgChevronRightSingle.tsx
Labels: react-components

add a11y label to minus icon
  packages/@guardian/source-react-components/src/icons/SvgMinus.tsx
Labels: react-components

add a11y label to chevronRightDouble icon
  packages/@guardian/source-react-components/src/icons/SvgChevronRightDouble.tsx
Labels: react-components

add a11y label to envelope icon
  packages/@guardian/source-react-components/src/icons/SvgEnvelope.tsx
Labels: react-components

add a11y label to star icon
  packages/@guardian/source-react-components/src/icons/SvgStar.tsx
Labels: react-components

add a11y label to tickRound icon
  packages/@guardian/source-react-components/src/icons/SvgTickRound.tsx
Labels: react-components

add a11y label to video icon
  packages/@guardian/source-react-components/src/icons/SvgVideo.tsx
Labels: react-components

add a11y label to speech bubble icon
  packages/@guardian/source-react-components/src/icons/SvgSpeechBubble.tsx
Labels: react-components

docs(changeset): Improve SVG icon accessibility
  .changeset/brave-radios-wonder.md
Labels: none

Add pinned SVG icon
  .changeset/perfect-baboons-rush.md
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgPinned.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

add screen reader accessible labels to logo icons
  packages/@guardian/source-react-components/src/icons/SvgAppleBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgFacebook.tsx
  packages/@guardian/source-react-components/src/icons/SvgFacebookBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgGoogleBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgLinkedIn.tsx
  packages/@guardian/source-react-components/src/icons/SvgMessenger.tsx
  packages/@guardian/source-react-components/src/icons/SvgPinterest.tsx
  packages/@guardian/source-react-components/src/icons/SvgTwitter.tsx
  packages/@guardian/source-react-components/src/icons/SvgWhatsApp.tsx
Labels: react-components

Add changeset
  .changeset/sweet-carpets-guess.md
Labels: none

add tsconfig for get-icons
  scripts/get-icons/tsconfig.json
Labels: none

update output paths for get-icons
  scripts/get-icons/components.ts
  scripts/get-icons/config.ts
  scripts/get-icons/index.ts
Labels: none

expose new icon names
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgCrossedOutCloud.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgExclamation.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgFacebookMessenger.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgInfoRound.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgMediaControlsPlay.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

Add changeset for new icon names
  .changeset/sixty-tomatoes-juggle.md
Labels: none

Create changeset for svgs
  .changeset/lemon-poems-explode.md
Labels: none

update get-icons script for new icons
  scripts/get-icons/components.test.ts
  scripts/get-icons/components.ts
  scripts/get-icons/config.ts
  scripts/get-icons/index.ts
  scripts/get-icons/process.ts
Labels: none

update get-icons script for new icons
  scripts/get-icons/components.test.ts
  scripts/get-icons/components.ts
  scripts/get-icons/config.ts
  scripts/get-icons/index.ts
  scripts/get-icons/process.ts
Labels: none

add get-icons script to root
  package.json
Labels: none

expose spinner icon
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

docs(changeset): expose spinner icon from components index
  .changeset/olive-experts-glow.md
Labels: none

use `@deprecated` jsdoc flag
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-react-components/src/columns/Columns.tsx
  packages/@guardian/source-react-components/src/container/Container.tsx
  packages/@guardian/source-react-components/src/hide/Hide.tsx
  packages/@guardian/source-react-components/src/tiles/Tiles.tsx
Labels: foundations, react-components

docs(changeset): Add `@deprecated` jsdoc hints so that VS Code will let you know if you use deprecated features.
  .changeset/ten-coins-scream.md
Labels: none

deprecate the public `Props` export
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

update get-icons script for new icons
  packages/@guardian/source-react-components/src/icons/svgs/pay-pal.svg
  scripts/get-icons/components.test.ts
  scripts/get-icons/components.ts
  scripts/get-icons/config.ts
  scripts/get-icons/index.ts
  scripts/get-icons/process-svg.test.ts
  scripts/get-icons/process-svg.ts
  scripts/get-icons/process.test.ts
Labels: react-components

add get-icons script to root
  package.json
Labels: none

add custom focus halo for buttons
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

add demo story
  packages/@guardian/source-react-components/src/button/ButtonFocus.stories.tsx
Labels: react-components

rename paypal logo icon
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgPayPalBrand.tsx
  packages/@guardian/source-react-components/src/icons/svgs/pay-pal-brand.svg
  packages/@guardian/source-react-components/src/index.ts
  scripts/get-icons/config.ts
  scripts/get-icons/process-svg.test.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

add changeset
  .changeset/short-seals-happen.md
Labels: none

add accessibility labels for new icons
  scripts/get-icons/labels.ts
Labels: none

chore(git): ignore .env file
  .gitignore
Labels: none

use mappings as intermediary
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: foundations

remove Object.fromEntries
  packages/@guardian/source-foundations/src/typography/index.ts
Labels: foundations
