Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

keep emotion at 11.0.0 as it is a peer dependency and should be pinned at the min version in the version range
  package.json
  yarn.lock
Labels: none

try --no-dll
  package.json
Labels: none

Create new colour palette wrapper
  .storybook/colorPalette.tsx
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

Remove unused code
  .storybook/colorPalette.tsx
Labels: none

Fix fonts
  .storybook/colorPalette.tsx
Labels: none

Add missing box shadow
  .storybook/colorPalette.tsx
Labels: none

add comment
  .storybook/colorPalette.tsx
Labels: none

test
  .storybook/colorPalette.tsx
Labels: none

remove reset wrapper
  .storybook/colorPalette.tsx
Labels: none

Fix lint issue
  .storybook/colorPalette.tsx
Labels: none

Update comment
  .storybook/colorPalette.tsx
Labels: none

dev-deps upgrade for minor/patch package updates
  package.json
  yarn.lock
Labels: none

keep emotion at 11.0.0 as it is a peer dependency and should be pinned at the min version in the version range
  package.json
  yarn.lock
Labels: none

Create new colour palette wrapper (#1498)
  .storybook/colorPalette.tsx
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

docs(changeset): Bump dev dependencies
  .changeset/wild-carrots-draw.md
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: react-components

remove the build run from the lint action step as it does not appear to be needed
  .github/workflows/ci.yml
Labels: none

docs(changeset): Bump dev dependencies
  .changeset/wild-carrots-draw.md
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: react-components

downgrade the release from 'major' to a 'patch'
  .changeset/wild-carrots-draw.md
Labels: none

Downgrade the changelog for #1489 from 'major' to a 'patch' (#1502)
  .changeset/wild-carrots-draw.md
Labels: none

build both of the internal eslint plugins that we need to complete our linting process
  .github/workflows/ci.yml
Labels: none

docs(changeset): Noop to test release pipeline
  .changeset/cuddly-moons-care.md
Labels: none

docs(changeset): Noop to test release pipeline (#1504)
  .changeset/cuddly-moons-care.md
Labels: none

docs(changeset): noop to test pipeline - ignore this release
  .changeset/red-knives-move.md
Labels: none

docs(changeset): noop to test pipeline - ignore this release (#1506)
  .changeset/red-knives-move.md
Labels: none

docs(changeset): noop to test releases
  .changeset/pretty-cycles-smell.md
Labels: none

add noop changeset
  .changeset/pretty-cycles-smell.md
Labels: none

docs(changeset): noop to test release again - you can ignore this release
  .changeset/selfish-plants-report.md
Labels: none

docs(changeset): noop changeset
  .changeset/silent-mayflies-add.md
Labels: none

docs(changeset): noop changeset (#1509)
  .changeset/silent-mayflies-add.md
Labels: none

Release package updates (#1512)
  .changeset/silent-mayflies-add.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

docs(changeset): noop to test release - you can ignore this
  .changeset/clean-kings-judge.md
Labels: none

RELEASING: Releasing 1 package(s)
  .changeset/clean-kings-judge.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

Release package updates (#1514)
  .changeset/clean-kings-judge.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

turn off noci in the commit message to check whether the ci checks will run for the changeset bot still
  .changeset/config.json
Labels: none

Experiment with turning off `noCi` to see if gh actions are still disabled for the bot PR (#1518)
  .changeset/config.json
Labels: none

docs(changeset): Noop - this can be ignored
  .changeset/cold-ravens-grin.md
Labels: none

docs(changeset): Noop - this can be ignored (#1519)
  .changeset/cold-ravens-grin.md
Labels: none

docs(changeset): noop - ignore this safely
  .changeset/slow-baboons-unite.md
Labels: none

Update changesets config
  .changeset/config.json
Labels: none

Update changesets config (#1521)
  .changeset/config.json
  .changeset/slow-baboons-unite.md
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'
