Repository guardian/source, changes with the labels that .github/labeler.yml gives for each.
All labels: foundations, react-components, kitchen

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

foundations:
  - 'packages/@guardian/source-foundations/**/*'
react-components:
  - 'packages/@guardian/source-react-components/**/*'
kitchen:
  - 'packages/@guardian/source-react-components-development-kitchen/**/*'

move palette and typography storybook config into foundations folders where they're used
  .storybook/colorPalette.tsx
  .storybook/preview.tsx
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/storybookColorPalette.tsx
  packages/@guardian/source-foundations/src/typography/storybookTypographyRenderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

remove old storybook config
  .storybook_OLD/main.js
  .storybook_OLD/manager-head.html
  .storybook_OLD/manager.js
  .storybook_OLD/preview-head.html
  .storybook_OLD/preview.tsx
  .storybook_OLD/preview/FocusManagerDecorator.tsx
  .storybook_OLD/preview/ThemeProviderDecorator.tsx
  .storybook_OLD/preview/backgrounds.ts
  .storybook_OLD/preview/viewport.ts
  .storybook_OLD/theme.ts
  .storybook_OLD/webpack.config.js
Labels: none

matched csnx storybook webpack config in preparation for migration
  .storybook/main.js
  .storybook/webpack.config.js
Labels: none

remove redundant storybook config
  .storybook/colorPalette.tsx
  .storybook/typographyRenderers.tsx
Labels: none

remove emotionAlias from storybook config
  .storybook/main.js
Labels: none

add Source logo back in
  .storybook/manager.js
Labels: none

add Source logo back in update contributing guidelines to reflect changes
  docs/contributing/stories.stories.mdx
Labels: none

fix imports
  packages/@guardian/source-foundations/src/colour/storybookColorPalette.tsx
Labels: foundations

remove build-storybook as it is already covered by the build:storybook command defined above
  package.json
Labels: none

Add storybook deployer
  out7502/favicon.ico
  package.json
  yarn.lock
Labels: none

Add storybook deployer (#1609)
  out7502/favicon.ico
  package.json
  yarn.lock
Labels: none

fix issue with input prefixes and suffixes not receiving error or success state styling
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen

add changeset
  .changeset/afraid-stingrays-mate.md
Labels: none

Fix issue with NumericInput prefixes and suffixes not receiving error or success styling (#1610)
  .changeset/afraid-stingrays-mate.md
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen

make imports local in typography renderers
  packages/@guardian/source-foundations/src/typography/storybookTypographyRenderers.tsx
Labels: foundations

remove out7502 as we don't appear to use it
  out7502/favicon.ico
Labels: none

Remove out7502 (#1613)
  out7502/favicon.ico
Labels: none

Make imports local in typography renderers (#1612)
  packages/@guardian/source-foundations/src/typography/storybookTypographyRenderers.tsx
Labels: foundations

RFC: line in the sand disallowing potentially unusable components (#1463)
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: none

add the SvgShareCallout icon using the create-icon-component generator script to pull from Figma
  .changeset/fluffy-kangaroos-shout.md
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/vendor/icons/SvgShareCallout.tsx
Labels: react-components

specify that we'd like to include the colour fill for the share-callout icon
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
  packages/@guardian/source-react-components/vendor/icons/SvgShareCallout.tsx
Labels: react-components

Add the SvgShareCallout icon (#1617)
  .changeset/fluffy-kangaroos-shout.md
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/vendor/icons/SvgShareCallout.tsx
Labels: react-components

Make collapsed content taller
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
Labels: kitchen

use state rather than css to show/hide
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/skipTo.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
Labels: kitchen

don't allow tabbing to children when not expanded
  .changeset/fuzzy-comics-vanish.md
  .changeset/nice-needles-tan.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/types.ts
Labels: kitchen

RadioGroup should support dark default theme
  packages/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
Labels: react-components

Add dark version of the Checkbox's default theme
  packages/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/LabelText.tsx
  packages/@guardian/source-react-components/src/checkbox/SupportingText.tsx
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/checkbox/theme.ts
Labels: react-components

Add a dark version of the Labels default theme that is applied when device prefers dark mode (unless supportDarkMode prop = false
  packages/@guardian/source-react-components/src/label/Label.stories.tsx
  packages/@guardian/source-react-components/src/label/Label.tsx
  packages/@guardian/source-react-components/src/label/SupportingText.tsx
  packages/@guardian/source-react-components/src/label/Text.tsx
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/label/theme.ts
  packages/@guardian/source-react-components/src/label/types.ts
Labels: react-components

Select should support dark default theme
  .storybook/preview/backgrounds.ts
  packages/@guardian/source-react-components/src/select/Select.stories.tsx
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/select/theme.ts
Labels: react-components

Checkbox group should support default dark theme
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  packages/@guardian/source-react-components/src/checkbox/SupportingText.tsx
Labels: react-components

Add theming to textarea (with light and dark default supported)
  packages/@guardian/source-react-components/src/@types/Theme.ts
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-area/theme.ts
Labels: react-components

Fix error/success colours
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  packages/@guardian/source-react-components/src/checkbox/theme.ts
  packages/@guardian/source-react-components/src/label/theme.ts
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/radio/theme.ts
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/select/theme.ts
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
  packages/@guardian/source-react-components/src/text-area/theme.ts
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/text-input/theme.ts
  packages/@guardian/source-react-components/src/user-feedback/theme.ts
Labels: react-components

Radio should support default dark theme
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  packages/@guardian/source-react-components/src/radio/Radio.stories.tsx
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/radio/theme.ts
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
Labels: react-components

Add dark version of the textInput's default theme
  packages/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/text-input/theme.ts
Labels: react-components

Legend should support default dark theme
  packages/@guardian/source-react-components/src/label/Legend.tsx
  packages/@guardian/source-react-components/src/label/types.ts
Labels: react-components

Add a background that defaults to dark if device is in dark mode
  .storybook/preview/backgrounds.ts
Labels: none

Create ExpandingWrapper (#1615)
  .changeset/fuzzy-comics-vanish.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/README.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/types.ts
Labels: kitchen

Export the expandingWrapper
  .changeset/dull-lies-boil.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

Export the Expanding Wrapper (#1622)
  .changeset/dull-lies-boil.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

Visually hide StarRating figcaption
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
Labels: kitchen
