Repository guardian/source, pull requests merged in 2020-03, with the labels that each got.

#246 Thicken border on check and hover
  src/core/components/choice-card/styles.ts
Labels: Choice card

#247 add focus halo to choice card
  src/core/components/choice-card/styles.ts
Labels: Choice card

#248 Change choice card checked colour
  src/core/foundations/src/themes/choice-card.ts
Labels: Foundations

#249 Move focus style manager to foundations
  src/core/foundations/.babelrc.js
  src/core/foundations/.gitignore
  src/core/foundations/package.json
  src/core/foundations/rollup.config.js
  src/core/foundations/src/utils/focus-style-manager.ts
  src/core/foundations/src/utils/index.ts
  yarn.lock
Labels: Foundations

#250 Use box shadow to apply choice card border
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
Labels: Choice card

#251 Remove right margin from last choice card in group
  src/core/components/choice-card/styles.ts
Labels: Choice card

#252 Point brandAlt[300] (dark) at correct hex value
  src/core/foundations/src/palette/global.ts
Labels: Foundations

#253 Denounce the palette export
  src/core/foundations/src/accessibility/index.ts
  src/core/foundations/src/index.ts
Labels: Foundations

#254 Move common props to helpers
  src/core/components/button/index.tsx
  src/core/components/button/package.json
  src/core/components/checkbox/index.tsx
  src/core/components/checkbox/package.json
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/package.json
  src/core/components/grid/index.tsx
  src/core/components/grid/package.json
  src/core/components/inline-error/index.tsx
  src/core/components/inline-error/package.json
  src/core/components/link/index.tsx
  src/core/components/link/package.json
  src/core/components/radio/index.tsx
  src/core/components/radio/package.json
  src/core/components/text-input/index.tsx
  src/core/components/text-input/package.json
  src/core/helpers/README.md
  src/core/helpers/package.json
  src/core/helpers/types.ts
Labels: Button, Checkbox, Choice card, Grid, Link, Radio, Text input

#255 Remove alpha component from choice card background colour
  src/core/foundations/src/themes/choice-card.ts
Labels: Foundations

#256 Add Space 4
  src/core/foundations/src/space.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#257 Add group label for choice card group
  src/core/components/choice-card/README.md
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
Labels: Choice card

#258 change colour
  src/core/foundations/src/themes/choice-card.ts
Labels: Foundations

#259 Avoid component colors
  src/core/foundations/src/palette/background/brand.ts
  src/core/foundations/src/palette/background/default.ts
  src/core/foundations/src/palette/border/brand.ts
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
  src/core/foundations/src/themes/button.ts
  src/core/foundations/src/themes/checkbox.ts
  src/core/foundations/src/themes/choice-card.ts
  src/core/foundations/src/themes/link.ts
  src/core/foundations/src/themes/radio.ts
  src/core/foundations/src/themes/text-input.ts
Labels: Foundations

#260 Delete component-specific colours
  src/core/foundations/src/palette/background/brand-alt.ts
  src/core/foundations/src/palette/background/brand.ts
  src/core/foundations/src/palette/background/default.ts
  src/core/foundations/src/palette/border/brand.ts
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/palette/line/brand-alt.ts
  src/core/foundations/src/palette/line/brand.ts
  src/core/foundations/src/palette/line/default.ts
  src/core/foundations/src/palette/text/brand-alt.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
Labels: Foundations

#261 Add group supporting text
  src/core/components/choice-card/README.md
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
  src/core/foundations/src/palette/text/default.ts
  src/core/foundations/src/themes/choice-card.ts
Labels: Choice card, Foundations

#262 Use clearer functional colour names
  src/core/components/checkbox/styles.ts
  src/core/components/radio/styles.ts
  src/core/components/text-input/styles.ts
  src/core/foundations/src/palette/text/brand-alt.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
  src/core/foundations/src/themes/checkbox.ts
  src/core/foundations/src/themes/radio.ts
  src/core/foundations/src/themes/text-input.ts
Labels: Checkbox, Foundations, Radio, Text input

#263 add choice card check animation
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/styles.ts
  src/core/foundations/src/themes/choice-card.ts
Labels: Choice card, Foundations

#264 Improve style targetting in choice card
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/styles.ts
Labels: Choice card

#265 Install and configure storybook viewport addon
  .storybook/main.js
  .storybook/preview.tsx
  .storybook/webpack.config.js
  package.json
  src/core/foundations/package.json
  tsconfig.json
  yarn.lock
Labels: Foundations

#266 Choice card stacks on mobile viewport
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
Labels: Choice card

#267 Choice card error
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/package.json
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
  src/core/foundations/src/themes/choice-card.ts
Labels: Choice card, Foundations

#268 Choice card icon
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/package.json
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
  src/core/svgs/credit-card.tsx
  src/core/svgs/direct-debit.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/paypal.tsx
Labels: Choice card, SVGs

#269 Improve choice card docs and stories
  src/core/components/choice-card/README.md
  src/core/components/choice-card/stories.tsx
Labels: Choice card

#270 Automated release publish
  README.md
  package.json
  scripts/publish-release.js
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/choice-card/rollup.config.js
  src/core/components/grid/package.json
  src/core/components/inline-error/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/text-input/package.json
  src/core/foundations/package.json
  src/core/svgs/package.json
Labels: Button, Checkbox, Choice card, Foundations, Grid, Link, Radio, SVGs, Text input

#271 One script to bump them all
  package.json
  scripts/paths.js
  scripts/publish-release.js
  scripts/verbump-all.js
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/grid/package.json
  src/core/components/inline-error/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/text-input/package.json
  src/core/foundations/package.json
  src/core/svgs/package.json
Labels: Button, Checkbox, Choice card, Foundations, Grid, Link, Radio, SVGs, Text input

#273 Support 30 x 20 SVGs
  src/core/components/choice-card/styles.ts
  src/core/svgs/credit-card.tsx
  src/core/svgs/direct-debit.tsx
  src/core/svgs/paypal.tsx
Labels: Choice card, SVGs

#275 Make foundations a composite project
  src/core/foundations/.gitignore
  src/core/foundations/package.json
  src/core/foundations/tsconfig.json
Labels: Foundations

#276 Reference foundations and helpers composite projects
  src/core/components/grid/tsconfig.json
Labels: Grid

#277 update payment svgs
  src/core/svgs/credit-card.tsx
  src/core/svgs/paypal.tsx
Labels: SVGs

#278 Delete secondary text colours
  src/core/foundations/src/palette/text/brand-alt.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
Labels: Foundations

#279 Delete old theme names
  src/core/components/inline-error/stories.tsx
  src/core/components/link/stories.tsx
  src/core/components/radio/stories/error.tsx
  src/core/components/radio/stories/supporting-text.tsx
  src/core/components/text-input/stories.tsx
  src/core/helpers/storybook-bg.ts
  src/core/helpers/types.ts
Labels: Link, Radio, Text input

#284 Add typography tests
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations

#285 Object typography styles
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/obj/index.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/object-styles-to-string.ts
  tsconfig.json
Labels: Foundations

#286 Improve publish of foundations
  src/core/foundations/package.json
  src/core/foundations/rollup.config.js
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/obj/index.ts
  src/core/foundations/tsconfig.json
Labels: Foundations

#287 Explicit rem font size exports
  src/core/components/link/styles.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/obj/index.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations, Link

#288 Support px font sizes in typography API
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/object-styles-to-string.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations

#289 Support px line heights in typography API
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/object-styles-to-string.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations

#290 include px unit in object style line-height
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/object-styles-to-string.ts
Labels: Foundations

#296 make text input label bold by default
  src/core/components/text-input/styles.ts
Labels: Text input

#298 add blue border to text input when active
  src/core/components/text-input/styles.ts
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/themes/text-input.ts
Labels: Foundations, Text input

#299 Supporting text only
  src/core/components/checkbox/index.tsx
  src/core/components/checkbox/stories.tsx
  src/core/components/checkbox/stories/supporting-text-only.tsx
  src/core/components/radio/index.tsx
  src/core/components/radio/stories.tsx
  src/core/components/radio/stories/supporting-text-only.tsx
  src/core/components/radio/styles.ts
Labels: Checkbox, Radio

#300 Shim Object.entries (and refactor some types) in typography
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/index.ts
  src/core/foundations/src/typography/object-styles-to-string.ts
  src/core/foundations/src/typography/types.ts
Labels: Foundations

#301 Strict Foundations
  src/core/foundations/tsconfig.json
Labels: Foundations
