Repository guardian/source, pull requests merged in 2020-09, with the labels that each got.

#523 Eight lines of anything
  src/editorial/web/components/lines/README.md
  src/editorial/web/components/lines/dotted.ts
  src/editorial/web/components/lines/index.tsx
  src/editorial/web/components/lines/squiggly.ts
  src/editorial/web/components/lines/stories.tsx
  src/editorial/web/components/lines/styles.ts
Labels: enhancement

#536 New icons: play, eyes and alerts
  src/core/icons/alert-round.tsx
  src/core/icons/alert-triangle.tsx
  src/core/icons/eye-strike.tsx
  src/core/icons/eye.tsx
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/play.tsx
  src/core/icons/stories.tsx
Labels: Icons

#537 Use alert triangle in user feedback
  src/core/components/inline-error/index.tsx
  src/core/components/user-feedback/index.tsx
Labels: User feedback

#535 add special report 800
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#538 Don't use flexbox inside a fieldset
  src/core/components/radio/index.tsx
  src/core/components/radio/stories/radio-group/horizontal.tsx
  src/core/components/radio/stories/radio-group/legend.tsx
  src/core/components/radio/styles.ts
Labels: Radio

#544 Add container component
  src/core/components/layout/README.md
  src/core/components/layout/components/container/container.tsx
  src/core/components/layout/components/container/styles.ts
  src/core/components/layout/container.stories.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stories/container/default.tsx
Labels: Layout
