Repository guardian/source, pull requests merged in 2020-06, with the labels that each got.

#373 Add icon and SVGs readmes
  src/core/icons/README.md
  src/core/svgs/README.md
Labels: Icons

#374 Add camera, speech bubble, star icons
  src/core/icons/camera.tsx
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/quote.tsx
  src/core/icons/speech-bubble.tsx
  src/core/icons/star.tsx
  src/core/icons/stories.tsx
  src/core/svgs/camera.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/quote.tsx
  src/core/svgs/speech-bubble.tsx
  src/core/svgs/star.tsx
  src/core/svgs/stories.tsx
Labels: Icons

#375 Various button label improvements
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
Labels: Button

#376 Use src-icons instead of src-svgs
  src/core/components/accordion/index.tsx
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/package.json
  src/core/components/button/stories.tsx
  src/core/components/choice-card/package.json
  src/core/components/choice-card/stories.tsx
  src/core/components/inline-error/index.tsx
  src/core/components/inline-error/package.json
  src/core/components/link/README.md
  src/core/components/link/package.json
  src/core/components/link/stories.tsx
  src/core/components/radio/package.json
Labels: Accordion, Button, Choice card, Link, Radio

#377 Add favicons
  src/core/brand/images/favicons/114x114-roundel.png
  src/core/brand/images/favicons/114x114.png
  src/core/brand/images/favicons/120x120.png
  src/core/brand/images/favicons/144x144.png
  src/core/brand/images/favicons/152x152-roundel.png
  src/core/brand/images/favicons/152x152.png
  src/core/brand/images/favicons/32x32-dev.ico
  src/core/brand/images/favicons/32x32.ico
  src/core/brand/images/favicons/57x57.png
  src/core/brand/images/favicons/72x72.png
Labels: Brand

#378 Add text area boilerplate
  src/core/components/text-area/.babelrc.js
  src/core/components/text-area/README.md
  src/core/components/text-area/index.tsx
  src/core/components/text-area/package.json
  src/core/components/text-area/rollup.config.js
  src/core/components/text-area/stories.tsx
  src/core/components/text-area/styles.ts
Labels: Text area

#379 Rename close icon to cross
  src/core/icons/cross.tsx
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/stories.tsx
  src/core/svgs/cross.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/stories.tsx
Labels: Icons

#380 Upgrade @eslint-typescript packages
  .eslintrc.json
  package.json
  src/core/components/radio/stories/error.tsx
  src/core/components/radio/stories/supporting-text-only.tsx
  src/core/components/radio/stories/supporting-text.tsx
  src/core/components/radio/stories/vertical.tsx
  src/core/components/text-input/stories.tsx
  yarn.lock
Labels: Radio, Text input

#381 Refactor icon stories
  src/core/brand/stories.tsx
  src/core/icons/stories.tsx
  src/core/svgs/stories.tsx
Labels: Brand, Icons

#383 Add round tick icon
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/stories.tsx
  src/core/icons/tick-round.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/stories.tsx
  src/core/svgs/tick-round.tsx
Labels: Icons

#382 Adding subdued priority to LinkButton
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
Labels: Button

#385 Add user feedback components
  src/core/components/user-feedback/.babelrc.js
  src/core/components/user-feedback/README.md
  src/core/components/user-feedback/index.tsx
  src/core/components/user-feedback/package.json
  src/core/components/user-feedback/rollup.config.js
  src/core/components/user-feedback/stories.tsx
  src/core/components/user-feedback/styles.ts
  src/core/foundations/src/themes/index.ts
  src/core/foundations/src/themes/user-feedback.ts
Labels: Foundations

#389 Support UI icons in choice card
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/styles.ts
  src/core/icons/audio.tsx
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/video.tsx
  src/core/svgs/audio.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/video.tsx
Labels: Choice card, Icons

#392 Improve spacing in text input and text area components
  src/core/components/text-area/styles.ts
  src/core/components/text-input/styles.ts
Labels: Text area, Text input

#393 Restore horizontal space between icon and text
  src/core/components/choice-card/styles.ts
Labels: Choice card

#395 Expose all global colours
  src/core/foundations/src/palette/index.ts
Labels: Foundations

#396 Support long inline messages
  src/core/components/inline-error/stories.tsx
  src/core/components/inline-error/styles.ts
  src/core/components/user-feedback/stories.tsx
  src/core/components/user-feedback/styles.ts
Labels: User feedback

#397 Set radio button background color to transparent
  src/core/components/radio/styles.ts
Labels: Radio

#394 Guardian live logo
  src/core/brand/guardian-live-logo.tsx
  src/core/brand/index.ts
  src/core/brand/package.json
  src/core/brand/stories.tsx
Labels: Brand

#398 Add social sharing icons
  src/core/icons/envelope.tsx
  src/core/icons/facebook.tsx
  src/core/icons/index.ts
  src/core/icons/package.json
  src/core/icons/stories.tsx
  src/core/icons/twitter.tsx
  src/core/svgs/envelope.tsx
  src/core/svgs/facebook.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
  src/core/svgs/stories.tsx
  src/core/svgs/twitter.tsx
Labels: Icons

#399 Add success prop to text input
  src/core/components/text-input/README.md
  src/core/components/text-input/index.tsx
  src/core/components/text-input/stories.tsx
  src/core/components/text-input/styles.ts
  src/core/foundations/src/themes/text-input.ts
Labels: Foundations, Text input

#400 Replicate icon API from Button in LinkButton
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/stories/icon-only-buttons.tsx
  src/core/components/button/stories/icon-only-link-buttons.tsx
  src/core/components/button/stories/priority-buttons.tsx
  src/core/components/button/stories/priority-link-buttons.tsx
  src/core/components/button/stories/sizes.tsx
  src/core/components/button/stories/text-and-icon-buttons.tsx
  src/core/components/button/stories/text-and-icon-link-buttons.tsx
Labels: Button

#401 Republish envelope icon
  src/core/icons/envelope.tsx
  src/core/svgs/envelope.tsx
Labels: Icons

#405 Use correct line heights in component labels
  src/core/components/checkbox/styles.ts
  src/core/components/choice-card/styles.ts
  src/core/components/radio/styles.ts
  src/core/components/text-area/styles.ts
  src/core/components/text-input/styles.ts
Labels: Checkbox, Choice card, Radio, Text area, Text input

#404 Inline message alignment
  src/core/components/inline-error/styles.ts
  src/core/components/user-feedback/styles.ts
Labels: User feedback

#411 Select box component
  src/core/components/select/.babelrc.js
  src/core/components/select/README.md
  src/core/components/select/index.tsx
  src/core/components/select/package.json
  src/core/components/select/rollup.config.js
  src/core/components/select/stories.tsx
  src/core/components/select/styles.ts
  src/core/foundations/src/themes/index.ts
  src/core/foundations/src/themes/select.ts
Labels: Foundations

#414 Update icon widths in buttons
  src/core/components/button/styles.ts
Labels: Button

#415 Use spacer div instead of margins for btn icons
  src/core/components/button/index.tsx
  src/core/components/button/styles.ts
Labels: Button

#416 Reinstate nudge animation in buttons with icons
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/stories/text-and-icon-link-buttons-with-nudge.tsx
Labels: Button
