Repository guardian/source, pull requests merged in 2020-12, with the labels that each got.

#626 Upgrade to Storybook v6
  .storybook/webpack.config.js
  package.json
  src/core/brand/stories/guardian-live-logo.tsx
  src/core/brand/stories/guardian-logo.tsx
  src/core/brand/stories/roundel.tsx
  src/core/components/button/stories/priority-buttons.tsx
  src/core/components/checkbox/stories/checkbox-group/default.tsx
  src/core/components/checkbox/stories/checkbox-group/error.tsx
  src/core/components/checkbox/stories/checkbox-group/legend-error.tsx
  src/core/components/checkbox/stories/checkbox-group/legend-supporting-text.tsx
  src/core/components/checkbox/stories/checkbox-group/legend.tsx
  src/core/components/checkbox/stories/checkbox/indeterminate.tsx
  src/core/components/checkbox/stories/checkbox/supporting-text-only.tsx
  src/core/components/checkbox/stories/checkbox/supporting-text.tsx
  src/core/components/choice-card/stories/error.tsx
  src/core/components/choice-card/stories/multi-state-supporting.tsx
  src/core/components/choice-card/stories/single-state-icon-mobile.tsx
  src/core/components/choice-card/stories/single-state-icon.tsx
  src/core/components/choice-card/stories/single-state-label.tsx
  src/core/components/choice-card/stories/single-state-mobile.tsx
  src/core/components/choice-card/stories/single-state-payment-icon-mobile.tsx
  src/core/components/choice-card/stories/single-state-payment-icon.tsx
  src/core/components/choice-card/stories/single-state.tsx
  src/core/components/choice-card/stories/wildly-varying-length.tsx
  src/core/components/footer/stories/back-to-top.tsx
  src/core/components/footer/stories/default.tsx
  src/core/components/footer/stories/with-children.tsx
  src/core/components/label/stories/default.tsx
  src/core/components/label/stories/legend-optional.tsx
  src/core/components/label/stories/legend-supporting.tsx
  src/core/components/label/stories/legend.tsx
  src/core/components/label/stories/optional.tsx
  src/core/components/label/stories/supporting.tsx
  src/core/components/link/stories/priority-links.tsx
  src/core/components/radio/stories/radio-group/error.tsx
  src/core/components/radio/stories/radio-group/legend-error.tsx
  src/core/components/radio/stories/radio-group/legend-supporting-text.tsx
  src/core/components/radio/stories/radio-group/legend.tsx
  src/core/components/radio/stories/radio-group/vertical.tsx
  src/core/components/radio/stories/radio/supporting-text-only.tsx
  src/core/components/radio/stories/radio/supporting-text.tsx
  src/core/components/user-feedback/stories.tsx
  src/core/icons/stories.tsx
  yarn.lock
Labels: Brand, Button, Checkbox, Choice card, Footer, Label

#635 Make label and supporting text hideable
  src/core/components/label/README.md
  src/core/components/label/index.tsx
Labels: Label

#647 Make label text block level
  src/core/components/label/index.tsx
Labels: Label

#648 Use label package in text input
  src/core/components/text-input/index.tsx
  src/core/components/text-input/package.json
  src/core/components/text-input/styles.ts
Labels: Text input

#649 Use label package in select
  src/core/components/select/index.tsx
  src/core/components/select/package.json
  src/core/components/select/styles.ts
Labels: Select

#650 Use label in choice card
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/package.json
  src/core/components/choice-card/styles.ts
Labels: Choice card

#651 Auto-generate IDs for form fields / fieldsets without IDs
  src/core/components/checkbox/index.tsx
  src/core/components/choice-card/index.tsx
  src/core/components/radio/index.tsx
  src/core/components/select/index.tsx
  src/core/components/text-area/index.tsx
  src/core/components/text-input/index.tsx
  src/core/foundations/src/accessibility/index.ts
Labels: Checkbox, Choice card, Foundations, Radio, Select, Text area, Text input

#652 Update alert icon
  src/core/icons/alert.tsx
  src/core/icons/stories.tsx
Labels: Icons

#653 Upgrade all components to React v17
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  yarn.lock
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#666 Disallow pointer events on the checkbox tick to prevent Selenium test issues
  src/core/components/checkbox/styles.ts
Labels: Checkbox

#670 Palette update for special report and culture
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/theme.ts
Labels: 3.0.0, Foundations
