Repository guardian/source, pull requests merged in 2020-04, with the labels that each got.

#303 Font-Style API - Specify Normal
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/obj/typography.obj.test.ts
  src/core/foundations/src/typography/types.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations

#309 Add indent icon
  src/core/svgs/indent.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
Labels: SVGs

#308 Hardcode icon width, allow height to scale
  src/core/components/link/styles.ts
Labels: Link

#310 add aria-required attribute based on optional prop
  src/core/components/text-input/index.tsx
Labels: Text input

#313 Transaparent backgrounds for tertiary buttons
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
  src/core/foundations/src/themes/button.ts
Labels: Button, Foundations

#314 update positional properties for unlabelled checkbox tick
  src/core/components/checkbox/styles.ts
Labels: Checkbox

#315 Subdued button
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
  src/core/foundations/src/themes/button.ts
Labels: Button, Foundations

#317 Add reader revenue light theme
  package.json
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/themes.ts
Labels: Button

#319 Add chevron SVGs
  src/core/svgs/chevron-down-single.tsx
  src/core/svgs/chevron-right-single.tsx
  src/core/svgs/chevron-up-single.tsx
  src/core/svgs/index.ts
  src/core/svgs/package.json
Labels: SVGs

#318 Rename reader revenue button themes
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/themes.ts
Labels: Button

#322 Icons Stories
  src/core/svgs/stories.tsx
Labels: SVGs

#325 Externalise palette from foundations submodules
  src/core/foundations/rollup.config.js
  src/core/foundations/src/accessibility/index.ts
  src/core/foundations/src/themes/button.ts
  src/core/foundations/src/themes/checkbox.ts
  src/core/foundations/src/themes/choice-card.ts
  src/core/foundations/src/themes/inline-error.ts
  src/core/foundations/src/themes/link.ts
  src/core/foundations/src/themes/radio.ts
  src/core/foundations/src/themes/text-input.ts
  src/core/foundations/tsconfig.json
Labels: Foundations

#327 Align icon to center for link
  src/core/components/link/stories.tsx
  src/core/components/link/styles.ts
Labels: Link

#330 add secondary background colour to default theme
  src/core/foundations/src/palette/background/default.ts
Labels: Foundations

#332 Better background in stories
  src/core/components/accordion/stories.tsx
  src/core/components/button/stories.tsx
Labels: Button

#333 Include dist dir in svgs package
  src/core/svgs/package.json
Labels: SVGs

#335 Add script to copy .d.ts files to CJS endpoints
  .eslintignore
  src/core/foundations/package.json
  src/core/foundations/scripts/copy-type-definitions.js
  src/core/foundations/scripts/paths.js
  yarn.lock
Labels: Foundations

#336 Point CJS builds of components at CJS build of Foundations
  src/core/components/accordion/package.json
  src/core/components/accordion/rollup.config.js
  src/core/components/button/package.json
  src/core/components/button/rollup.config.js
  src/core/components/checkbox/package.json
  src/core/components/checkbox/rollup.config.js
  src/core/components/choice-card/package.json
  src/core/components/choice-card/rollup.config.js
  src/core/components/grid/package.json
  src/core/components/grid/rollup.config.js
  src/core/components/inline-error/package.json
  src/core/components/inline-error/rollup.config.js
  src/core/components/link/package.json
  src/core/components/link/rollup.config.js
  src/core/components/radio/package.json
  src/core/components/radio/rollup.config.js
  src/core/components/text-input/package.json
  src/core/components/text-input/rollup.config.js
  src/core/helpers/package.json
  src/core/helpers/rollup.config.js
  src/core/svgs/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/components/lines/rollup.config.js
Labels: Button, Checkbox, Choice card, Grid, Link, Radio, SVGs, Text input

#337 Typescriptify scripts
  .eslintrc.json
  package.json
  scripts/build-all.ts
  scripts/clean-all.ts
  scripts/paths.js
  scripts/paths.ts
  scripts/publish-release.ts
  scripts/verbump-minor-all.ts
  scripts/verbump-patch-all.ts
  scripts/verbump-preminor-all.ts
  scripts/verbump-prerelease-all.ts
  src/.eslintrc.json
  src/core/foundations/package.json
  src/core/foundations/scripts/copy-type-definitions.ts
  src/core/foundations/scripts/paths.ts
  src/core/foundations/scripts/tsconfig.json
  src/core/foundations/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Foundations

#338 Rework tertiary priority buttons
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
  src/core/components/button/themes.ts
  src/core/foundations/src/index.ts
  src/core/foundations/src/palette/background/brand-alt.ts
  src/core/foundations/src/palette/background/brand.ts
  src/core/foundations/src/palette/background/default.ts
  src/core/foundations/src/palette/border/brand-alt.ts
  src/core/foundations/src/palette/border/brand.ts
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/palette/border/index.ts
  src/core/foundations/src/palette/index.ts
  src/core/foundations/src/palette/text/brand-alt.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
  src/core/foundations/src/themes/button.ts
Labels: Button, Foundations
