Repository guardian/source, pull requests merged in 2020-05, with the labels that each got.

#344 Refactor size
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
  src/core/components/checkbox/styles.ts
  src/core/components/choice-card/styles.ts
  src/core/components/link/stories.tsx
  src/core/components/link/styles.ts
  src/core/components/radio/styles.ts
  src/core/components/text-input/styles.ts
  src/core/foundations/src/size.ts
  src/core/svgs/stories.tsx
Labels: Button, Checkbox, Choice card, Foundations, Link, Radio, SVGs, Text input

#346 add xxlarge and xxxlarge textSans
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/types.ts
Labels: Foundations

#347 Add xsmall button
  src/core/components/button/README.md
  src/core/components/button/index.tsx
  src/core/components/button/stories.tsx
  src/core/components/button/styles.ts
Labels: Button

#348 Fix overflow issues with text input at narrow viewports
  src/core/components/text-input/stories.tsx
  src/core/components/text-input/styles.ts
Labels: Text input

#354 Remove legacy italic API
  src/core/foundations/src/typography/api.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/types.ts
  src/core/foundations/src/typography/typography.test.ts
Labels: Foundations

#353 Accordion icon size
  src/core/components/accordion/index.tsx
  src/core/components/accordion/stories.tsx
  src/core/components/accordion/styles.ts
Labels: Accordion, Foundations

#356 Bring accordion font usage into line with design
  src/core/components/accordion/package.json
  src/core/components/accordion/stories.tsx
  src/core/components/accordion/styles.ts
Labels: Accordion

#362 Use ex instead of ch for better browser consistency
  src/core/components/text-input/styles.ts
Labels: Text input

#364 Resize indent svg to be 30x30
  src/core/svgs/indent.tsx
Labels: SVGs

#366 Extract px to rem logic into module
  src/core/foundations/src/space.ts
  src/core/foundations/src/typography/data.ts
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/utils/index.ts
  src/core/foundations/src/utils/px-to-rem.test.ts
  src/core/foundations/src/utils/px-to-rem.ts
Labels: Foundations

#365 Add new size endpoint to foundations
  src/core/foundations/.gitignore
  src/core/foundations/package.json
  src/core/foundations/rollup.config.js
  src/core/foundations/scripts/paths.ts
  src/core/foundations/src/index.ts
  src/core/foundations/src/size/global.ts
  src/core/foundations/src/size/index.ts
  src/core/foundations/src/size__legacy.ts
  tsconfig.json
Labels: Foundations

#368 Add size example code and more links to readme
  src/core/foundations/README.md
Labels: Foundations

#369 Upgrade @babel everywhere
  package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/grid/package.json
  src/core/components/inline-error/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/text-input/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/.babelrc.js
  src/core/icons/package.json
  src/core/svgs/.babelrc.js
  src/core/svgs/package.json
  src/editorial/web/components/lines/package.json
  yarn.lock
Labels: Accordion, Button, Checkbox, Choice card, Foundations, Grid, Link, Radio, SVGs, Text input

#370 Make Focus Manager Node.js-friendly
  src/core/foundations/src/utils/focus-style-manager.ts
Labels: Foundations
