Repository guardian/source, pull requests merged in 2021-03, with the labels that each got.

#693 Add share SVG icons
  src/core/icons/index.ts
  src/core/icons/linked-in.tsx
  src/core/icons/messenger.tsx
  src/core/icons/pinterest.tsx
  src/core/icons/stories.tsx
  src/core/icons/whats-app.tsx
Labels: Icons

#763 Add opinion 550 to theme and globals
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#761 Improve global palette caveat
  src/core/foundations/src/palette/global.ts
Labels: Foundations

#769 Add key to link contents spacer to remove key warnings
  src/core/components/link/index.tsx
Labels: Link

#772 Simplify responsive hiding of columns
  src/core/components/layout/components/columns/styles.ts
  src/core/components/layout/stories/columns/responsive.tsx
Labels: Layout

#775 Breakout link and button stories
  src/core/components/button/button.stories.tsx
  src/core/components/button/link-button.stories.tsx
  src/core/components/link/button-link.stories.tsx
  src/core/components/link/link.stories.tsx
Labels: Button, Link

#760 Responsive columns based on number of grid columns spanned
  src/core/components/layout/README.md
  src/core/components/layout/columns.stories.tsx
  src/core/components/layout/components/columns/columns.tsx
  src/core/components/layout/components/columns/styles.ts
  src/core/components/layout/stories/columns/with-span.tsx
Labels: Layout

#782 Dashed lines (for labs)
  src/editorial/web/components/lines/README.md
  src/editorial/web/components/lines/dashed.ts
  src/editorial/web/components/lines/index.tsx
  src/editorial/web/components/lines/stories.tsx
  src/editorial/web/components/lines/styles.ts
Labels: SVGs, enhancement

#776 Configurable column spacing
  src/core/components/layout/README.md
  src/core/components/layout/components/columns/columns.tsx
  src/core/components/layout/components/columns/styles.ts
  src/core/components/layout/stories/columns/collapse-below.tsx
Labels: Layout

#783 Bump all packages to 3.4.0
  CHANGELOG.md
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback
