Repository guardian/source, pull requests merged in 2021-07, with the labels that each got.

#843 Add clock icon
  src/core/icons/clock.tsx
  src/core/icons/index.ts
  src/core/icons/stories.tsx
Labels: Icons

#840 add offline-cloud svg icon
  src/core/icons/index.ts
  src/core/icons/offline-cloud.tsx
  src/core/icons/stories.tsx
Labels: Icons, SVGs

#839 623: add JSX.Element type to supporting prop definition
  src/core/components/label/README.md
  src/core/components/label/index.tsx
  src/core/components/label/stories/legend-supporting.tsx
  src/core/components/radio/README.md
  src/core/components/radio/index.tsx
  src/core/components/radio/radio-group.stories.tsx
  src/core/components/radio/stories/radio-group/legend-supporting-media.tsx
Labels: Label, Radio

#859 Update colours
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#866 Verbump all packages to 3.8.0
  CHANGELOG.md
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/button/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/components/quote-icon/package.json
  src/editorial/web/components/starRating/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#868 chore: Bump dev dependencies (19/07)
  package.json
  src/core/components/button/index.tsx
  src/core/components/choice-card/index.tsx
  src/core/foundations/src/typography/fs.ts
  src/core/foundations/src/typography/types.ts
  yarn.lock
Labels: Button, Choice card, Foundations, dependencies

#877 add API docs for accordion component
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.tsx
  .storybook/preview/FocusManagerDecorator.tsx
  .storybook/preview/backgrounds.ts
  .storybook/preview/viewport.ts
  .storybook/theme.ts
  README.md
  package.json
  src/core/components/accordion/Accordion.tsx
  src/core/components/accordion/AccordionRow.tsx
  src/core/components/accordion/AccordionRowNoJS.tsx
  src/core/components/accordion/README.md
  src/core/components/accordion/index.stories.tsx
  src/core/components/accordion/index.tsx
  src/core/components/accordion/stories.tsx
  src/core/components/accordion/tsconfig.json
  yarn.lock
Labels: Accordion

#876 Export `ButtonProps` as type
  src/core/components/button/index.tsx
Labels: Button

#882 Update offline cloud SVG
  src/core/icons/offline-cloud.tsx
Labels: Icons

#883 Show packages in storybook nav
  .storybook/preview.tsx
  src/core/components/accordion/Accordion.tsx
  src/core/components/accordion/AccordionRow.tsx
  src/core/components/accordion/index.stories.tsx
Labels: Accordion
