Repository guardian/source, pull requests merged in 2021-12, with the labels that each got.

#1161 Add as const type assertion on palette
  packages/@guardian/source-foundations/src/palette.ts
  packages/@guardian/src-foundations/types/themes.d.ts
Labels: Foundations

#1195 Refactor theming functions
  packages/@guardian/src-accordion/Accordion.tsx
  packages/@guardian/src-accordion/AccordionRow.tsx
  packages/@guardian/src-accordion/AccordionRowNoJS.tsx
  packages/@guardian/src-accordion/styles.ts
  packages/@guardian/src-button/styles.ts
  packages/@guardian/src-checkbox/Checkbox.tsx
  packages/@guardian/src-checkbox/LabelText.tsx
  packages/@guardian/src-checkbox/SupportingText.tsx
  packages/@guardian/src-checkbox/styles.ts
  packages/@guardian/src-choice-card/ChoiceCard.tsx
  packages/@guardian/src-choice-card/styles.ts
  packages/@guardian/src-footer/BackToTop.tsx
  packages/@guardian/src-footer/Footer.tsx
  packages/@guardian/src-footer/styles.ts
  packages/@guardian/src-foundations/types/themes.d.ts
  packages/@guardian/src-label/SupportingText.tsx
  packages/@guardian/src-label/Text.tsx
  packages/@guardian/src-label/styles.ts
  packages/@guardian/src-link/styles.ts
  packages/@guardian/src-radio/Radio.tsx
  packages/@guardian/src-radio/RadioGroup.tsx
  packages/@guardian/src-radio/styles.ts
  packages/@guardian/src-select/Select.tsx
  packages/@guardian/src-select/styles.ts
  packages/@guardian/src-text-input/TextInput.tsx
  packages/@guardian/src-text-input/styles.ts
  packages/@guardian/src-user-feedback/InlineError.tsx
  packages/@guardian/src-user-feedback/InlineSuccess.tsx
  packages/@guardian/src-user-feedback/styles.ts
Labels: Foundations, Checkbox, Button, Text input, Radio, Link, Choice card, Accordion, User feedback, Select, Footer, Label

#1211 update links in docstrings for v4
  packages/@guardian/source-react-components/src/accordion/Accordion.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLiveLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundelBrand.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundelBrandInverse.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundelDefault.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundelInverse.tsx
  packages/@guardian/source-react-components/src/button/Button.tsx
  packages/@guardian/source-react-components/src/button/LinkButton.tsx
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  packages/@guardian/source-react-components/src/columns/Column.tsx
  packages/@guardian/source-react-components/src/columns/Columns.tsx
  packages/@guardian/source-react-components/src/container/Container.tsx
  packages/@guardian/source-react-components/src/footer/Footer.tsx
  packages/@guardian/source-react-components/src/hide/Hide.tsx
  packages/@guardian/source-react-components/src/inline/Inline.tsx
  packages/@guardian/source-react-components/src/label/Label.tsx
  packages/@guardian/source-react-components/src/label/Legend.tsx
  packages/@guardian/source-react-components/src/link/ButtonLink.tsx
  packages/@guardian/source-react-components/src/link/Link.tsx
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/stack/Stack.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/tiles/Tiles.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
Labels: react-components

#1215 Align peerdeps
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: Foundations, Checkbox, Button, Choice card, Accordion, Icons, Brand, Footer, kitchen, react-components

#1217 Add basic components package readme
  packages/@guardian/source-react-components/README.md
Labels: react-components

#1221 Add default href to linkbutton in stories
  packages/@guardian/src-button/LinkButton.stories.tsx
Labels: Button

#1220 Source v4 docs
  .storybook/main.js
  CONTRIBUTING.md
  README.md
  docs/01-getting-started.stories.mdx
  docs/02-foundations.stories.mdx
  docs/03-components.stories.mdx
  docs/04-using-emotion.stories.mdx
  docs/05-theming.stories.mdx
  docs/06-overriding-styles.stories.mdx
  docs/07-development-kitchen.stories.mdx
  docs/08-faqs.stories.mdx
  docs/contributing/overview.stories.mdx
  docs/contributing/stories.stories.mdx
  docs/release-notes/v3.stories.mdx
  docs/release-notes/v4.stories.mdx
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/accessibility/accessibility.stories.mdx
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
  packages/@guardian/source-foundations/src/colour/colour.stories.mdx
  packages/@guardian/source-foundations/src/mq/mq.stories.mdx
  packages/@guardian/source-foundations/src/size/size.stories.mdx
  packages/@guardian/source-foundations/src/space/space.stories.mdx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
  packages/@guardian/source-foundations/src/utils/resets.stories.mdx
  packages/@guardian/source-react-components-development-kitchen/README.md
  packages/@guardian/source-react-components/README.md
Labels: Foundations, Checkbox, Button, Text input, Radio, Link, Choice card, Accordion, Icons, Brand, Text area, User feedback, Select, Footer, Label, Layout, kitchen, react-components
