Repository guardian/source, pull requests merged in 2021-09, with the labels that each got.

#965 migrate from @guardian/types to @guardian/libs
  .storybook/webpack.config.js
  packages/@guardian/source-react-components-development-kitchen/components/editorial-button/EditorialButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/editorial-button/EditorialLinkButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/editorial-button/styles.ts
  packages/@guardian/source-react-components-development-kitchen/components/editorial-button/types.ts
  packages/@guardian/source-react-components-development-kitchen/components/quote-icon/QuoteIcon.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/quote-icon/QuoteIcon.tsx
  packages/@guardian/source-react-components-development-kitchen/package.json
  src/core/components/accordion/package.json
  src/core/components/footer/package.json
  src/core/components/link/package.json
  yarn.lock
Labels: Link, Accordion, Footer, kitchen

#974 Update links in kitchen components
  packages/@guardian/source-react-components-development-kitchen/components/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/components/logo/Logo.tsx
  packages/@guardian/source-react-components-development-kitchen/components/quote-icon/QuoteIcon.tsx
  packages/@guardian/source-react-components-development-kitchen/components/star-rating/StarRating.tsx
Labels: kitchen

#976 Move animations source code to `source-foundations`
  packages/@guardian/source-foundations/src/animation.ts
  packages/@guardian/source-foundations/src/index.ts
  src/core/foundations/src/animation.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#977 move breakpoints source code to `source-foundations`
  packages/@guardian/source-foundations/src/breakpoints.ts
  packages/@guardian/source-foundations/src/index.ts
  src/core/foundations/src/breakpoints.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#978 Migrate palette to @guardian/source-foundations
  packages/@guardian/source-foundations/migration-breaking-changes.md
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/palette.ts
  src/core/foundations/src/palette.ts
  src/core/foundations/src/palette/background/brand-alt.ts
  src/core/foundations/src/palette/background/brand.ts
  src/core/foundations/src/palette/background/default.ts
  src/core/foundations/src/palette/background/index.ts
  src/core/foundations/src/palette/border/brand-alt.ts
  src/core/foundations/src/palette/border/brand.ts
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/palette/border/index.ts
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/palette/index.ts
  src/core/foundations/src/palette/line/brand-alt.ts
  src/core/foundations/src/palette/line/brand.ts
  src/core/foundations/src/palette/line/default.ts
  src/core/foundations/src/palette/line/index.ts
  src/core/foundations/src/palette/text/brand-alt.ts
  src/core/foundations/src/palette/text/brand.ts
  src/core/foundations/src/palette/text/default.ts
  src/core/foundations/src/palette/text/index.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#979 move space source code to source-foundations
  packages/@guardian/source-foundations/migration-breaking-changes.md
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/palette.ts
  packages/@guardian/source-foundations/src/space.test.ts
  packages/@guardian/source-foundations/src/space.ts
  packages/@guardian/source-foundations/src/utils/px-to-rem.test.ts
  packages/@guardian/source-foundations/src/utils/px-to-rem.ts
  src/core/foundations/src/space.ts
  src/core/foundations/src/theme.ts
  src/core/foundations/src/utils/px-to-rem.ts
Labels: Foundations

#980 move `accessibility` to source-foundations
  packages/@guardian/source-foundations/migration-breaking-changes.md
  packages/@guardian/source-foundations/src/accessibility.ts
  packages/@guardian/source-foundations/src/index.ts
  src/core/foundations/src/accessibility.ts
  src/core/foundations/src/accessibility/index.ts
Labels: Foundations

#982 move typography to source-foundations
  packages/@guardian/source-foundations/migration-breaking-changes.md
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/obj/index.ts
  packages/@guardian/source-foundations/src/typography/obj/typography.obj.test.ts
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-foundations/src/typography/typography.test.ts
  src/core/foundations/src/theme.ts
  src/core/foundations/src/typography
  src/core/foundations/theme.ts
Labels: Foundations

#912 feat: Added src-divider
  packages/@guardian/source-react-components-development-kitchen/components/divider/Divider.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/divider/Divider.tsx
  packages/@guardian/source-react-components-development-kitchen/components/divider/README.md
  packages/@guardian/source-react-components-development-kitchen/components/divider/index.tsx
  packages/@guardian/source-react-components-development-kitchen/components/divider/styles.ts
Labels: Foundations, Button, Choice card, kitchen

#990 Mark the development kitchen as not having side effects
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#966 Expand CSS Resets - Add "meyer" resets
  packages/@guardian/source-foundations/src/utils/resets.ts
Labels: Foundations

#991 Bump kitchen `package.json` version to 0.0.2
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#969 Add vendor prefixes to properties in `@supports` declaration
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-foundations/src/utils/supports-queries.ts
  src/core/components/checkbox/styles.ts
  src/core/components/radio/styles.ts
  src/core/components/select/styles.ts
  src/core/foundations/src/utils/index.ts
  src/core/foundations/src/utils/supports-queries.ts
Labels: Foundations, Checkbox, Radio, Select
