Repository guardian/source, pull requests merged in 2021-02, with the labels that each got.

#715 Sort package.jsons
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
  yarn.lock
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#713 Improvements to the Accordion and AccordionRow component
  src/core/components/accordion/README.md
  src/core/components/accordion/index.tsx
Labels: Accordion

#721 fix type name clashes that apply in flat land
  src/core/components/button/index.tsx
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/styles.ts
  src/core/components/link/index.tsx
Labels: Button, Choice card, Link

#722 Upgrade all packages to v3.2.0
  CHANGELOG.md
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#725 Bump all packages to 3.3.0-rc.0
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#729 Supporting hiding above and below breakpoints
  src/core/components/layout/components/hide/hide.tsx
  src/core/components/layout/stories/hide/default.tsx
Labels: Layout

#732 Fix storybook padding hacks
  src/core/components/layout/columns.stories.tsx
  src/core/components/layout/container.stories.tsx
  src/core/components/layout/inline.stories.tsx
  src/core/components/layout/stack.stories.tsx
  src/core/components/layout/stories/columns/collapse-below.tsx
  src/core/components/layout/stories/columns/with-width.tsx
  src/core/components/layout/tiles.stories.tsx
Labels: Layout

#738 Remove defaultProps from all components
  src/core/components/button/index.tsx
  src/core/components/checkbox/index.tsx
  src/core/components/choice-card/index.tsx
  src/core/components/footer/index.tsx
  src/core/components/label/index.tsx
  src/core/components/layout/columns.stories.tsx
  src/core/components/layout/container.stories.tsx
  src/core/components/layout/inline.stories.tsx
  src/core/components/layout/stack.stories.tsx
  src/core/components/layout/stories/columns/collapse-below.tsx
  src/core/components/layout/stories/columns/with-width.tsx
  src/core/components/layout/tiles.stories.tsx
  src/core/components/link/index.tsx
  src/core/components/radio/index.tsx
  src/core/components/select/index.tsx
  src/core/components/text-area/index.tsx
  src/core/components/text-input/index.tsx
Labels: Button, Checkbox, Choice card, Footer, Label, Link, Radio, Select, Text area, Text input

#744 create @guardian/src-foundations/* submodules
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/accessibility/package.json
  src/core/foundations/mq/package.json
  src/core/foundations/package.json
  src/core/foundations/palette/package.json
  src/core/foundations/size/package.json
  src/core/foundations/themes/package.json
  src/core/foundations/typography/obj/package.json
  src/core/foundations/typography/package.json
  src/core/foundations/utils/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#745 create @guardian/src-foundations/* submodules in 3.2.1
  package.json
  src/core/foundations/accessibility/package.json
  src/core/foundations/mq/package.json
  src/core/foundations/package.json
  src/core/foundations/palette/package.json
  src/core/foundations/size/package.json
  src/core/foundations/themes/package.json
  src/core/foundations/typography/obj/package.json
  src/core/foundations/typography/package.json
  src/core/foundations/utils/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback

#726 Support responsive column widths
  src/core/components/layout/README.md
  src/core/components/layout/columns.stories.tsx
  src/core/components/layout/components/columns/columns.tsx
  src/core/components/layout/components/columns/styles.ts
  src/core/components/layout/stories/columns/responsive.tsx
Labels: Layout

#754 Upgrade all packages to v3.3.0
  CHANGELOG.md
  package.json
  src/core/brand/package.json
  src/core/components/accordion/package.json
  src/core/components/button/package.json
  src/core/components/checkbox/package.json
  src/core/components/choice-card/package.json
  src/core/components/footer/package.json
  src/core/components/label/package.json
  src/core/components/layout/package.json
  src/core/components/link/package.json
  src/core/components/radio/package.json
  src/core/components/select/package.json
  src/core/components/text-area/package.json
  src/core/components/text-input/package.json
  src/core/components/user-feedback/package.json
  src/core/foundations/package.json
  src/core/helpers/package.json
  src/core/icons/package.json
  src/editorial/web/components/lines/package.json
  src/editorial/web/package.json
Labels: Accordion, Brand, Button, Checkbox, Choice card, Footer, Foundations, Icons, Label, Layout, Link, Radio, Select, Text area, Text input, User feedback
