Repository guardian/source, pull requests merged in 2021-08, with the labels that each got.

#888 Update accordion storybook link
  src/core/components/accordion/Accordion.tsx
  src/core/components/accordion/README.md
Labels: Accordion

#889 User feedback docs
  src/core/components/user-feedback/InlineError.stories.tsx
  src/core/components/user-feedback/InlineError.tsx
  src/core/components/user-feedback/InlineSuccess.stories.tsx
  src/core/components/user-feedback/InlineSuccess.tsx
  src/core/components/user-feedback/README.md
  src/core/components/user-feedback/index.tsx
  src/core/components/user-feedback/stories.tsx
  src/core/components/user-feedback/tsconfig.json
  src/core/components/user-feedback/types.ts
Labels: User feedback

#890 Add TextInput docs to storybook
  src/core/components/text-input/README.md
  src/core/components/text-input/index.tsx
  src/core/components/text-input/stories.tsx
Labels: Text input

#891 Add TextArea docs to storybook
  src/core/components/text-area/README.md
  src/core/components/text-area/index.tsx
  src/core/components/text-area/stories.tsx
Labels: Text area

#899 Add Select API docs to storybook
  src/core/components/select/Option.tsx
  src/core/components/select/README.md
  src/core/components/select/Select.tsx
  src/core/components/select/index.tsx
  src/core/components/select/stories.tsx
  src/core/components/select/stories/controlled.tsx
  src/core/components/select/stories/default.tsx
  src/core/components/select/stories/error.tsx
  src/core/components/select/stories/hide-label.tsx
  src/core/components/select/stories/optional.tsx
  src/core/components/select/stories/success.tsx
  src/core/components/select/stories/supporting-text.tsx
Labels: Select

#913 Move API docs for `label`/`legend`
  package.json
  src/@types/storybook-emotion-10-fixes.ts
  src/core/components/label/Label.stories.tsx
  src/core/components/label/Label.tsx
  src/core/components/label/Legend.stories.tsx
  src/core/components/label/Legend.tsx
  src/core/components/label/SupportingText.tsx
  src/core/components/label/Text.tsx
  src/core/components/label/index.tsx
  src/core/components/label/label.stories.tsx
  src/core/components/label/legend.stories.tsx
  src/core/components/label/stories/default.tsx
  src/core/components/label/stories/legend-optional.tsx
  src/core/components/label/stories/legend-supporting.tsx
  src/core/components/label/stories/legend.tsx
  src/core/components/label/stories/optional.tsx
  src/core/components/label/stories/supporting.tsx
  yarn.lock
Labels: Label

#917 Add API docs for `src-footer`
  src/@types/storybook-emotion-10-fixes.ts
  src/core/components/footer/BackToTop.tsx
  src/core/components/footer/Footer.stories.tsx
  src/core/components/footer/Footer.tsx
  src/core/components/footer/index.tsx
  src/core/components/footer/stories.tsx
  src/core/components/footer/stories/back-to-top.tsx
  src/core/components/footer/stories/default.tsx
  src/core/components/footer/stories/with-children.tsx
  src/core/components/footer/tsconfig.json
  src/core/helpers/types.ts
Labels: Footer

#916 Change focus halo on text input to a darker shade of blue
  src/core/foundations/src/palette/border/default.ts
  src/core/foundations/src/palette/global.ts
  src/core/foundations/src/theme.ts
Labels: Foundations

#902 Add API docs for `src-radio`
  src/@types/storybook-emotion-10-fixes.ts
  src/core/components/radio/README.md
  src/core/components/radio/Radio.stories.tsx
  src/core/components/radio/Radio.tsx
  src/core/components/radio/RadioGroup.stories.tsx
  src/core/components/radio/RadioGroup.tsx
  src/core/components/radio/index.tsx
  src/core/components/radio/radio-group.stories.tsx
  src/core/components/radio/radio.stories.tsx
  src/core/components/radio/stories/radio-group/controlled.tsx
  src/core/components/radio/stories/radio-group/error.tsx
  src/core/components/radio/stories/radio-group/horizontal.tsx
  src/core/components/radio/stories/radio-group/legend-error.tsx
  src/core/components/radio/stories/radio-group/legend-supporting-media.tsx
  src/core/components/radio/stories/radio-group/legend-supporting-text.tsx
  src/core/components/radio/stories/radio-group/legend.tsx
  src/core/components/radio/stories/radio-group/vertical.tsx
  src/core/components/radio/stories/radio/supporting-text-only.tsx
  src/core/components/radio/stories/radio/supporting-text.tsx
  src/core/components/radio/stories/radio/ungrouped.tsx
  src/core/components/radio/stories/radio/unlabelled.tsx
Labels: Radio

#931 Add API docs for `src-layout/Container`
  src/core/components/layout/Container/Container.stories.tsx
  src/core/components/layout/Container/Container.tsx
  src/core/components/layout/Container/styles.ts
  src/core/components/layout/components/container/container.tsx
  src/core/components/layout/container.stories.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stories/container/default.tsx
Labels: Layout

#909 Move API docs for `src-brand`
  src/core/brand/README.md
  src/core/brand/SvgGuardianLiveLogo.stories.tsx
  src/core/brand/SvgGuardianLiveLogo.tsx
  src/core/brand/SvgGuardianLogo.stories.tsx
  src/core/brand/SvgGuardianLogo.tsx
  src/core/brand/SvgRoundel.tsx
  src/core/brand/SvgRoundelBrand.stories.tsx
  src/core/brand/SvgRoundelBrand.tsx
  src/core/brand/SvgRoundelBrandInverse.stories.tsx
  src/core/brand/SvgRoundelBrandInverse.tsx
  src/core/brand/SvgRoundelDefault.stories.tsx
  src/core/brand/SvgRoundelDefault.tsx
  src/core/brand/SvgRoundelInverse.stories.tsx
  src/core/brand/SvgRoundelInverse.tsx
  src/core/brand/index.ts
  src/core/brand/roundel-brand-inverse.tsx
  src/core/brand/roundel-brand.tsx
  src/core/brand/roundel-default.tsx
  src/core/brand/roundel-filled.tsx
  src/core/brand/roundel-inverse.tsx
  src/core/brand/roundel.tsx
  src/core/brand/stories.tsx
  src/core/brand/stories/guardian-live-logo.tsx
  src/core/brand/stories/guardian-logo.tsx
  src/core/brand/stories/roundel.tsx
  src/core/brand/tsconfig.json
Labels: Brand

#936 Add API docs for `src-layout/Inline`
  src/core/components/layout/Inline/Inline.stories.tsx
  src/core/components/layout/Inline/Inline.tsx
  src/core/components/layout/Inline/styles.ts
  src/core/components/layout/components/inline/inline.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/inline.stories.tsx
  src/core/components/layout/stories/inline/default.tsx
Labels: Layout

#937 Add API docs for `src-layout/Stack`
  src/core/components/layout/Stack/Stack.stories.tsx
  src/core/components/layout/Stack/Stack.tsx
  src/core/components/layout/Stack/styles.ts
  src/core/components/layout/components/stack/stack.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stack.stories.tsx
  src/core/components/layout/stories/stack/default.tsx
Labels: Layout

#910 Move Link API docs to storybook
  src/core/components/link/ButtonLink.stories.tsx
  src/core/components/link/ButtonLink.tsx
  src/core/components/link/Link.stories.tsx
  src/core/components/link/Link.tsx
  src/core/components/link/README.md
  src/core/components/link/button-link.stories.tsx
  src/core/components/link/index.tsx
  src/core/components/link/link.stories.tsx
  src/core/components/link/shared.tsx
  src/core/components/link/stories/inline-button-link.tsx
  src/core/components/link/stories/inline-link-icon.tsx
  src/core/components/link/stories/inline-link.tsx
  src/core/components/link/stories/priority-button-links.tsx
  src/core/components/link/stories/priority-links.tsx
  src/core/components/link/stories/subdued-links.tsx
  src/core/components/link/stories/text-and-icon-button-links.tsx
  src/core/components/link/stories/text-and-icon-links.tsx
  src/core/components/link/styles.ts
  src/core/components/link/tsconfig.json
  src/core/components/link/types.ts
Labels: Link

#925 add API docs for `src-layout/Hide`
  src/core/components/layout/Hide/Hide.stories.tsx
  src/core/components/layout/Hide/Hide.tsx
  src/core/components/layout/components/hide/hide.tsx
  src/core/components/layout/hide.stories.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stories/hide/default.tsx
Labels: Layout

#924 Add api docs for `src-choice-card`
  src/core/components/choice-card/ChoiceCard.stories.tsx
  src/core/components/choice-card/ChoiceCard.tsx
  src/core/components/choice-card/ChoiceCardGroup.stories.tsx
  src/core/components/choice-card/ChoiceCardGroup.tsx
  src/core/components/choice-card/README.md
  src/core/components/choice-card/index.tsx
  src/core/components/choice-card/stories.tsx
  src/core/components/choice-card/stories/error.tsx
  src/core/components/choice-card/stories/multi-state-controlled-example.tsx
  src/core/components/choice-card/stories/multi-state-supporting.tsx
  src/core/components/choice-card/stories/single-state-controlled-example.tsx
  src/core/components/choice-card/stories/single-state-icon-mobile.tsx
  src/core/components/choice-card/stories/single-state-icon.tsx
  src/core/components/choice-card/stories/single-state-label.tsx
  src/core/components/choice-card/stories/single-state-mobile.tsx
  src/core/components/choice-card/stories/single-state-payment-icon-mobile.tsx
  src/core/components/choice-card/stories/single-state-payment-icon.tsx
  src/core/components/choice-card/stories/single-state.tsx
  src/core/components/choice-card/stories/wildly-varying-length.tsx
  src/core/components/choice-card/stories/with-columns.tsx
  src/lib/story-intents.ts
Labels: Choice card

#939 Add API docs for `src-layout/Tiles`
  src/core/components/layout/Tiles/Tiles.stories.tsx
  src/core/components/layout/Tiles/Tiles.tsx
  src/core/components/layout/Tiles/styles.ts
  src/core/components/layout/components/tiles/tiles.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stories/tiles/collapse-below.tsx
  src/core/components/layout/stories/tiles/default.tsx
  src/core/components/layout/tiles.stories.tsx
Labels: Layout

#940 Add API docs for `src-layout/Columns`
  src/core/components/layout/Columns/Column.tsx
  src/core/components/layout/Columns/Columns.stories.tsx
  src/core/components/layout/Columns/Columns.tsx
  src/core/components/layout/Columns/styles.ts
  src/core/components/layout/columns.stories.tsx
  src/core/components/layout/components/columns/columns.tsx
  src/core/components/layout/index.tsx
  src/core/components/layout/stories/columns/collapse-below.tsx
  src/core/components/layout/stories/columns/default.tsx
  src/core/components/layout/stories/columns/responsive.tsx
  src/core/components/layout/stories/columns/with-container.tsx
  src/core/components/layout/stories/columns/with-span.tsx
  src/core/components/layout/stories/columns/with-width.tsx
Labels: Layout

#941 Add `ThemeProviderDecorator`
  .storybook/preview.tsx
  .storybook/preview/ThemeProviderDecorator.tsx
  docs/10-stories.md
  src/core/components/link/ButtonLink.stories.tsx
  src/core/components/link/Link.stories.tsx
  src/core/components/radio/Radio.stories.tsx
  src/core/components/radio/RadioGroup.stories.tsx
Labels: Radio, Link

#942 Add Button and LinkButton API docs
  src/core/components/button/Button.stories.tsx
  src/core/components/button/Button.tsx
  src/core/components/button/LinkButton.stories.tsx
  src/core/components/button/LinkButton.tsx
  src/core/components/button/button.stories.tsx
  src/core/components/button/index.tsx
  src/core/components/button/link-button.stories.tsx
  src/core/components/button/shared.tsx
  src/core/components/button/stories/icon-only-buttons.tsx
  src/core/components/button/stories/icon-only-link-buttons.tsx
  src/core/components/button/stories/priority-buttons.tsx
  src/core/components/button/stories/priority-link-buttons.tsx
  src/core/components/button/stories/sizes.tsx
  src/core/components/button/stories/text-and-icon-buttons.tsx
  src/core/components/button/stories/text-and-icon-link-buttons-with-nudge.tsx
  src/core/components/button/stories/text-and-icon-link-buttons.tsx
  src/core/components/button/styles.ts
  src/core/components/button/types.tsx
Labels: Button

#944 Add Checkbox and CheckboxGroup APIs to Storybook
  src/core/components/checkbox/Checkbox.stories.tsx
  src/core/components/checkbox/Checkbox.tsx
  src/core/components/checkbox/CheckboxGroup.stories.tsx
  src/core/components/checkbox/CheckboxGroup.tsx
  src/core/components/checkbox/LabelText.tsx
  src/core/components/checkbox/README.md
  src/core/components/checkbox/SupportingText.tsx
  src/core/components/checkbox/checkbox-group.stories.tsx
  src/core/components/checkbox/checkbox.stories.tsx
  src/core/components/checkbox/index.tsx
  src/core/components/checkbox/stories/checkbox-group/controlled.tsx
  src/core/components/checkbox/stories/checkbox-group/default.tsx
  src/core/components/checkbox/stories/checkbox-group/error.tsx
  src/core/components/checkbox/stories/checkbox-group/legend-error.tsx
  src/core/components/checkbox/stories/checkbox-group/legend-supporting-text.tsx
  src/core/components/checkbox/stories/checkbox-group/legend.tsx
  src/core/components/checkbox/stories/checkbox-group/select-all.tsx
  src/core/components/checkbox/stories/checkbox/indeterminate.tsx
  src/core/components/checkbox/stories/checkbox/supporting-text-only.tsx
  src/core/components/checkbox/stories/checkbox/supporting-text.tsx
  src/core/components/checkbox/stories/checkbox/ungrouped.tsx
  src/core/components/checkbox/stories/checkbox/unlabelled.tsx
Labels: Checkbox

#947 Update Select stories to latest recommendations
  src/core/components/select/Option.tsx
  src/core/components/select/Select.stories.tsx
  src/core/components/select/stories.tsx
Labels: Select

#948 Update TextArea stories to latest recommendations
  src/core/components/text-area/TextArea.stories.tsx
  src/core/components/text-area/TextArea.tsx
  src/core/components/text-area/index.tsx
  src/core/components/text-area/stories.tsx
Labels: Text area

#955 Update all component README to make consistent
  src/core/components/button/README.md
  src/core/components/footer/Footer.tsx
  src/core/components/footer/README.md
  src/core/components/label/README.md
  src/core/components/layout/README.md
Labels: Button, Footer, Label, Layout
