Repository guardian/source, pull requests merged in 2021-01, with the labels that each got.

#675 Full width labels
  src/core/components/checkbox/styles.ts
  src/core/components/radio/index.tsx
  src/core/components/radio/styles.ts
Labels: Checkbox, Radio

#684 Update Footer Copyright To 2021
  src/core/components/footer/index.tsx
Labels: Footer

#689 Fix invalid type imports in 3 core components.
  src/core/components/button/index.tsx
  src/core/components/link/index.tsx
  src/core/components/user-feedback/index.tsx
Labels: Button, Link, User feedback, bug
