Repository guardian/source, pull requests merged in 2021-10, with the labels that each got.

#999 Export all component prop types
  src/core/components/checkbox/index.tsx
  src/core/components/footer/index.tsx
  src/core/components/layout/index.tsx
  src/core/components/link/index.tsx
  src/core/components/radio/index.tsx
  src/core/components/select/index.tsx
  src/core/components/user-feedback/index.tsx
Labels: Checkbox, Radio, Link, User feedback, Select, Footer, Layout

#998 Spacing in input fields
  src/core/components/label/styles.ts
  src/core/components/text-area/TextArea.tsx
  src/core/components/text-area/styles.ts
  src/core/components/text-input/TextInput.tsx
  src/core/components/text-input/styles.ts
Labels: Text input, Text area, Label

#1000 Add ErrorSummary and SuccessSummary components to the kitchen
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/components/summary/ErrorSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/summary/ErrorSummary.tsx
  packages/@guardian/source-react-components-development-kitchen/components/summary/README.md
  packages/@guardian/source-react-components-development-kitchen/components/summary/SuccessSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/summary/SuccessSummary.tsx
  packages/@guardian/source-react-components-development-kitchen/components/summary/index.tsx
  packages/@guardian/source-react-components-development-kitchen/components/summary/styles.ts
Labels: kitchen

#1002 Export `IconSize` and `IconProps`
  src/core/icons/index.ts
Labels: Icons

#1001 Bump @guardian/source-react-components-development-kitchen to v0.0.3
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#1004 Export missing kitchen components
  packages/@guardian/source-react-components-development-kitchen/index.tsx
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#1003 Export types as types
  src/core/brand/index.ts
  src/core/components/accordion/index.tsx
  src/core/components/button/index.tsx
  src/core/components/choice-card/index.tsx
  src/core/components/label/index.tsx
  src/core/components/layout/index.tsx
  src/core/components/text-area/index.tsx
  src/core/components/text-input/index.tsx
  src/core/components/user-feedback/index.tsx
  src/core/helpers/index.ts
Labels: Button, Text input, Choice card, Accordion, Brand, Text area, User feedback, Label, Layout

#1014 Use `np` to release `development-kitchen`
  package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  scripts/publish-release-kitchen.ts
  yarn.lock
Labels: kitchen

#1012 Allow passing of `cssOverrides` prop to the Divider
  packages/@guardian/source-react-components-development-kitchen/components/divider/Divider.tsx
  packages/@guardian/source-react-components-development-kitchen/components/divider/README.md
Labels: kitchen, Divider

#1013 create toggle switch in development kitchen
  packages/@guardian/source-react-components-development-kitchen/components/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/components/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/components/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/components/toggle-switch/index.tsx
  packages/@guardian/source-react-components-development-kitchen/components/toggle-switch/styles.ts
  packages/@guardian/source-react-components-development-kitchen/index.tsx
  scripts/validate-dist/package-exports.test.ts
  scripts/validate-dist/validate-types.ts
Labels: kitchen

#1022 Bump kitchen to 0.0.5
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#1016 Update `Logo` component to use `a` tag, and `cssOverrides`
  packages/@guardian/source-react-components-development-kitchen/components/logo/Logo.tsx
Labels: kitchen
