Repository guardian/source, pull requests merged in 2021-11, with the labels that each got.

#1129 Create stories for Source v4
  .github/workflows/ci.yml
  packages/@guardian/source-react-components/src/stories/Accordion.stories.tsx
  packages/@guardian/source-react-components/src/stories/Button.stories.tsx
  packages/@guardian/source-react-components/src/stories/ButtonLink.stories.tsx
  packages/@guardian/source-react-components/src/stories/Checkbox.stories.tsx
  packages/@guardian/source-react-components/src/stories/CheckboxGroup.stories.tsx
  packages/@guardian/source-react-components/src/stories/ChoiceCard.stories.tsx
  packages/@guardian/source-react-components/src/stories/ChoiceCardGroup.stories.tsx
  packages/@guardian/source-react-components/src/stories/Columns.stories.tsx
  packages/@guardian/source-react-components/src/stories/Container.stories.tsx
  packages/@guardian/source-react-components/src/stories/Footer.stories.tsx
  packages/@guardian/source-react-components/src/stories/Hide.stories.tsx
  packages/@guardian/source-react-components/src/stories/Icons.stories.tsx
  packages/@guardian/source-react-components/src/stories/Inline.stories.tsx
  packages/@guardian/source-react-components/src/stories/InlineError.stories.tsx
  packages/@guardian/source-react-components/src/stories/InlineSuccess.stories.tsx
  packages/@guardian/source-react-components/src/stories/Label.stories.tsx
  packages/@guardian/source-react-components/src/stories/Legend.stories.tsx
  packages/@guardian/source-react-components/src/stories/Link.stories.tsx
  packages/@guardian/source-react-components/src/stories/LinkButton.stories.tsx
  packages/@guardian/source-react-components/src/stories/Radio.stories.tsx
  packages/@guardian/source-react-components/src/stories/RadioGroup.stories.tsx
  packages/@guardian/source-react-components/src/stories/Select.stories.tsx
  packages/@guardian/source-react-components/src/stories/Stack.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgGuardianLiveLogo.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgGuardianLogo.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgRoundelBrand.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgRoundelBrandInverse.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgRoundelDefault.stories.tsx
  packages/@guardian/source-react-components/src/stories/SvgRoundelInverse.stories.tsx
  packages/@guardian/source-react-components/src/stories/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/stories/TextInput.stories.tsx
  packages/@guardian/source-react-components/src/stories/Tiles.stories.tsx
  scripts/story-sync/README.md
  scripts/story-sync/compare.ts
  scripts/story-sync/config.ts
  scripts/story-sync/get-stories.ts
  scripts/story-sync/package.json
  scripts/story-sync/sync.ts
  scripts/story-sync/write-stories.ts
Labels: react-components

#1136 feat: change text colour of input with error to be neutral.7
  packages/@guardian/source-foundations/src/palette.ts
  packages/@guardian/src-foundations/src/themes/text-input.ts
Labels: Foundations

#1140 Add payment icons to `get-icons` script
  packages/@guardian/src-icons/svgs/credit-card.svg
  packages/@guardian/src-icons/svgs/direct-debit-wide.svg
  packages/@guardian/src-icons/svgs/direct-debit.svg
  packages/@guardian/src-icons/svgs/paypal.svg
  scripts/get-icons/index.ts
Labels: Icons

#1134 Improve toggle styling
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/styles.ts
Labels: kitchen

#1137 Allow element type to be chosen for Container
  packages/@guardian/src-layout/Container/Container.stories.tsx
  packages/@guardian/src-layout/Container/Container.tsx
Labels: Layout

#1145 Source 4 fixes
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/rollup.config.js
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/rollup.config.js
  packages/@guardian/source-react-components/package.json
Labels: react-components

#1152 use css overrides in kitchen line styling
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/Lines.tsx
Labels: kitchen

#1155 Use text.inputError for textarea and select
  packages/@guardian/src-foundations/src/themes/select.ts
  packages/@guardian/src-text-area/styles.ts
Labels: Foundations, Text area, Select

#1147 Adding hideLabel prop to choice card group
  packages/@guardian/src-choice-card/ChoiceCardGroup.stories.tsx
  packages/@guardian/src-choice-card/ChoiceCardGroup.tsx
Labels: Choice card

#1144 fix: Use `as const` hint to help IDE autocomplete
  packages/@guardian/source-foundations/src/breakpoints.ts
  packages/@guardian/source-foundations/src/size.ts
Labels: documentation

#1160 Use rollup-plugin-dts in source-react-components
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/rollup.config.js
Labels: react-components

#1163 Kitchen | Summary components: Allow `message` to be passed as `ReactNode`
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/ErrorSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/InfoSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/SuccessSummary.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/index.tsx
Labels: kitchen

#1164 Add CheckboxGroup docstring
  packages/@guardian/src-checkbox/CheckboxGroup.tsx
Labels: Checkbox

#1165 Update story links
  packages/@guardian/src-accordion/Accordion.tsx
  packages/@guardian/src-brand/SvgGuardianLiveLogo.tsx
  packages/@guardian/src-brand/SvgGuardianLogo.tsx
  packages/@guardian/src-brand/SvgRoundelBrand.tsx
  packages/@guardian/src-brand/SvgRoundelBrandInverse.tsx
  packages/@guardian/src-brand/SvgRoundelDefault.tsx
  packages/@guardian/src-brand/SvgRoundelInverse.tsx
  packages/@guardian/src-button/Button.tsx
  packages/@guardian/src-button/LinkButton.tsx
  packages/@guardian/src-checkbox/Checkbox.tsx
  packages/@guardian/src-choice-card/ChoiceCard.tsx
  packages/@guardian/src-choice-card/ChoiceCardGroup.tsx
  packages/@guardian/src-footer/Footer.tsx
  packages/@guardian/src-layout/Columns/Columns.tsx
  packages/@guardian/src-layout/Container/Container.tsx
  packages/@guardian/src-layout/Hide/Hide.tsx
  packages/@guardian/src-layout/Inline/Inline.tsx
  packages/@guardian/src-layout/Stack/Stack.tsx
  packages/@guardian/src-layout/Tiles/Tiles.tsx
  packages/@guardian/src-link/ButtonLink.tsx
  packages/@guardian/src-link/Link.tsx
  packages/@guardian/src-radio/Radio.tsx
  packages/@guardian/src-radio/RadioGroup.tsx
  packages/@guardian/src-select/Select.tsx
  packages/@guardian/src-text-area/TextArea.tsx
  packages/@guardian/src-text-input/TextInput.tsx
  packages/@guardian/src-user-feedback/InlineError.tsx
  packages/@guardian/src-user-feedback/InlineSuccess.tsx
Labels: Checkbox, Button, Text input, Radio, Link, Choice card, Accordion, Brand, Text area, User feedback, Select, Footer, Layout

#1172 Clean brand SVGs
  packages/@guardian/src-icons/svgs/apple-brand.svg
  packages/@guardian/src-icons/svgs/facebook-brand.svg
  packages/@guardian/src-icons/svgs/google-brand.svg
  packages/@guardian/src-icons/svgs/paypal.svg
Labels: Icons

#1156 Retain error/success border size and colour on `:active` state
  packages/@guardian/src-select/styles.ts
  packages/@guardian/src-text-area/styles.ts
  packages/@guardian/src-text-input/styles.ts
Labels: Text input, Text area, Select

#1184 Add README for `get-icons`
  packages/@guardian/src-icons/README.md
  scripts/get-icons/README.md
Labels: Icons

#1167 Update kitchen to use Source v4
  .storybook/webpack.config.js
  package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/README.md
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/src/components/divider/Divider.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/editorial-button/EditorialButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/editorial-button/EditorialButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/editorial-button/EditorialLinkButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/editorial-button/EditorialLinkButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/editorial-button/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/dashed.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/dotted.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/squiggly.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/lines/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/logo/Logo.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/quote-icon/QuoteIcon.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/star-rating/StarRating.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/star-rating/star.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/ErrorSummary.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/InfoSummary.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/SuccessSummary.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/index.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/summary/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/styles.ts
  packages/@guardian/source-react-components-development-kitchen/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: kitchen

#1188 Process brand icons automagically
  packages/@guardian/src-icons/svgs/apple-brand.svg
  packages/@guardian/src-icons/svgs/facebook-brand.svg
  packages/@guardian/src-icons/svgs/google-brand.svg
  packages/@guardian/src-icons/svgs/paypal.svg
  scripts/get-icons/config.ts
  scripts/get-icons/index.ts
  scripts/get-icons/process.test.ts
  scripts/get-icons/process.ts
Labels: Icons

#1194 Replace fill-Rule with fillRule to prevent react dom warning
  packages/@guardian/src-icons/google-brand.tsx
Labels: Icons
