Repository guardian/source, pull requests merged in 2022-08, with the labels that each got.

#1480 Add lifestyle 450 to palette
  .changeset/tough-pots-sell.md
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

#1475 Add TextDecorationThickness to typography
  ,
  .changeset/neat-baboons-begin.md
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/object-styles-to-string.ts
  packages/@guardian/source-foundations/src/typography/types.ts
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
Labels: foundations, react-components

#1492 Render fonts in Storybook `typography` docs
  .storybook/typographyRenderers.tsx
  packages/@guardian/source-foundations/src/typography/typography.stories.mdx
Labels: foundations

#1490 Create FooterWithContents and FooterLinks components in dev kitchen
  .changeset/silent-rabbits-breathe.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/README.md
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

#1498 Create new colour palette wrapper
  .storybook/colorPalette.tsx
  .storybook/preview-head.html
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
Labels: foundations

#1489 Bump dev deps
  .changeset/wild-carrots-draw.md
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: react-components
