Repository guardian/source, pull requests merged in 2022-02, with the labels that each got.

#1254 Publish packages as discrete modules
  .changeset/silver-planets-try.md
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/rollup.config.js
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/rollup.config.js
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/rollup.config.js
Labels: Foundations, kitchen, react-components

#1255 Remove toggle margin and make label display: flex
  .changeset/twenty-jokes-poke.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

#1241 Change `Colour` to `palette` in Foundations package and add colour tokens to doc
  .changeset/config.json
  .changeset/shaggy-moose-mix.md
  .storybook/preview-head.html
  docs/getting-started.stories.mdx
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/colour/colour.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-react-components/README.md
Labels: Foundations, react-components, 4.1.0

#1276 Improve the accessibility of stories
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  packages/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  packages/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  packages/@guardian/source-react-components/src/link/Link.stories.tsx
  packages/@guardian/source-react-components/src/radio/Radio.stories.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  packages/@guardian/source-react-components/src/select/Select.stories.tsx
Labels: react-components

#1282 Remove fragment from ChoiceCardGroup story template
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
Labels: react-components

#1283 Remove aria-checked attributes
  .changeset/gold-pianos-own.md
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  packages/@guardian/source-react-components/src/radio/Radio.tsx
Labels: react-components

#1275 Add a loading state for buttons ⏳
  .changeset/chilly-humans-report.md
  packages/@guardian/source-react-components/src/button/Button.stories.tsx
  packages/@guardian/source-react-components/src/button/Button.tsx
  packages/@guardian/source-react-components/src/button/shared.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/button/types.ts
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgSpinner.tsx
Labels: enhancement, Button, Icons, react-components

#1286 Use more representative ChoiceCard label in icon story
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
Labels: react-components, Accessibility Audit
