Repository guardian/source, pull requests merged in 2022-05, with the labels that each got.

#1423 Bump deps
  .github/workflows/yarn-lock.yml
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  yarn.lock
Labels: foundations, kitchen, react-components

#1433 Change unselected Checkbox border colour
  .changeset/strange-brooms-talk.md
  packages/@guardian/source-react-components/src/checkbox/theme.ts
Labels: react-components

#1429 Change unselected ChoiceCard border colour
  .changeset/perfect-rings-try.md
  packages/@guardian/source-react-components/src/choice-card/theme.ts
Labels: react-components

#1432 Change button focus style
  .changeset/cool-bats-occur.md
  packages/@guardian/source-foundations/src/accessibility/focus-halo.stories.mdx
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/index.test.ts
  packages/@guardian/source-foundations/src/index.ts
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: foundations, react-components

#1434 Update focus colour
  .changeset/twelve-taxis-nail.md
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

#1435 Change brand[500] colour token
  .changeset/perfect-wombats-fix.md
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

#1436 Change underline on subdued (text) Button
  .changeset/gentle-glasses-compete.md
  packages/@guardian/source-react-components/src/button/styles.ts
Labels: react-components

#1439 Culture and opinion colour changes
  .changeset/old-plums-roll.md
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

#1442 Increase spacing between choice cards and label
  .changeset/nasty-chicken-divide.md
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  packages/@guardian/source-react-components/src/choice-card/styles.ts
Labels: react-components

#1443 Use correct captialisation for editorial button stories
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.stories.tsx
Labels: kitchen

#1441 update palette.labs.200
  .changeset/proud-mugs-sleep.md
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations
