Repository guardian/source, pull requests merged in 2022-01, with the labels that each got.

#1222 Add default href to link component in stories
  packages/@guardian/src-link/Link.stories.tsx
Labels: Link

#1225 Fix typo in max length arg name
  packages/@guardian/src-text-area/TextArea.stories.tsx
Labels: Text area

#1226 Add platform prop and 'web' design to ToggleSwitch
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/components/toggle-switch/styles.ts
Labels: kitchen

#1230 Add success message to text area
  packages/@guardian/src-text-area/TextArea.stories.tsx
  packages/@guardian/src-text-area/TextArea.tsx
  packages/@guardian/src-text-area/styles.ts
Labels: Text area

#1237 Add box-styles: border box to toggle :before
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

#1214 bump storybook to 6.4
  .changeset/rare-pianos-applaud.md
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/webpack.config.js
  lib/story-intents.ts
  package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  yarn.lock
Labels: kitchen, react-components

#1249 Make label clickable
  .changeset/three-carrots-swim.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen
