Repository guardian/source, pull requests merged in 2022-10, with the labels that each got.

#1572 Make textSans default line-height "regular"
  .changeset/thin-eyes-wonder.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, kitchen, react-components

#1570 Update `ToggleSwitch` component styles
  .changeset/bright-peaches-sparkle.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

#1587 Remove unused tooltip type from `ToggleSwitch` props types
  .changeset/kind-donuts-double.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

#1589 Fix focus-visible on `ToggleSwitch`
  .changeset/two-shoes-care.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

#1590 Add a 'Numeric Input' component to Source dev kitchen
  .changeset/silent-oranges-film.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/README.md
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen

#1595 Remove `!important` from `visuallyHidden`
  .changeset/large-mice-attack.md
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
Labels: foundations

#1596 Fix links
  packages/@guardian/source-foundations/README.md
Labels: foundations

#1591 Bump @guardian/libs to latest major version
  .changeset/gold-keys-swim.md
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
  yarn.lock
Labels: kitchen

#1600 TheGuardian Logo: split letters into their own paths
  .changeset/stale-hairs-hammer.md
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
Labels: Brand, react-components

#1602 Use CSS from `focusHaloSpaced` for `ToggleSwitch` focus styles
  .changeset/twelve-carrots-buy.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: kitchen

#1603 Add empty deps array to `ToggleSwitch` browser check useEffect
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: kitchen

#1610 Fix issue with NumericInput prefixes and suffixes not receiving error or success styling
  .changeset/afraid-stingrays-mate.md
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  packages/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: kitchen
