Repository guardian/source, pull requests merged in 2022-04, with the labels that each got.

#1318 create `deprecated-exports` file
  .changeset/tidy-fishes-argue.md
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

#1326 use the `deprecated-exports` file
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: Foundations, react-components

#1327 move legacy icon exports to `dprectaed-exports`
  .changeset/four-monkeys-teach.md
  packages/@guardian/source-react-components/src/deprecated-exports.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: react-components

#1321 Add documentation for `generateSourceId` function
  packages/@guardian/source-foundations/src/accessibility/generate-source-id.stories.mdx
Labels: foundations

#1320 feat(lines): pure SVG patterns
  .changeset/chilled-spiders-report.md
  .changeset/rude-chicken-camp.md
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/DashedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/DottedLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/SquigglyLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/StraightLines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/dashed.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/dotted.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/squiggly.ts
  packages/@guardian/source-react-components-development-kitchen/src/lines/styles.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: SVGs, kitchen

#1330 bump `rollup-plugin-ts` to v2 and remove `rollup-plugin-dts`
  .changeset/dull-lizards-draw.md
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/rollup.config.js
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/rollup.config.js
  packages/@guardian/source-foundations/package.json
  packages/@guardian/source-foundations/rollup.config.js
  packages/@guardian/source-react-components-development-kitchen/package.json
  packages/@guardian/source-react-components-development-kitchen/rollup.config.js
  packages/@guardian/source-react-components/package.json
  packages/@guardian/source-react-components/rollup.config.js
  yarn.lock
Labels: foundations, kitchen, react-components

#1328 bump deps
  packages/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  scripts/get-usage/index.ts
  yarn.lock
Labels: react-components

#1402 update focus colour
  packages/@guardian/source-foundations/src/colour/palette.ts
Labels: foundations

#1400 Add Guardian Best Website Logo
  .changeset/dry-kids-sort.md
  packages/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.stories.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLiveLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgGuardianLogo.tsx
  packages/@guardian/source-react-components/src/brand/SvgRoundel.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components
