Repository guardian/source, pull requests merged in 2022-03, with the labels that each got.

#1285 Accessible icons
  .changeset/brave-radios-wonder.md
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgAlert.tsx
  packages/@guardian/source-react-components/src/icons/SvgAlertRound.tsx
  packages/@guardian/source-react-components/src/icons/SvgAlertTriangle.tsx
  packages/@guardian/source-react-components/src/icons/SvgArrowDownStraight.tsx
  packages/@guardian/source-react-components/src/icons/SvgArrowLeftStraight.tsx
  packages/@guardian/source-react-components/src/icons/SvgArrowRightStraight.tsx
  packages/@guardian/source-react-components/src/icons/SvgArrowUpStraight.tsx
  packages/@guardian/source-react-components/src/icons/SvgAudio.tsx
  packages/@guardian/source-react-components/src/icons/SvgCamera.tsx
  packages/@guardian/source-react-components/src/icons/SvgCheckmark.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronDownSingle.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronLeftDouble.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronLeftSingle.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronRightDouble.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronRightSingle.tsx
  packages/@guardian/source-react-components/src/icons/SvgChevronUpSingle.tsx
  packages/@guardian/source-react-components/src/icons/SvgClock.tsx
  packages/@guardian/source-react-components/src/icons/SvgCreditCard.tsx
  packages/@guardian/source-react-components/src/icons/SvgCross.tsx
  packages/@guardian/source-react-components/src/icons/SvgDirectDebit.tsx
  packages/@guardian/source-react-components/src/icons/SvgDirectDebitWide.tsx
  packages/@guardian/source-react-components/src/icons/SvgEnvelope.tsx
  packages/@guardian/source-react-components/src/icons/SvgExternal.tsx
  packages/@guardian/source-react-components/src/icons/SvgEye.tsx
  packages/@guardian/source-react-components/src/icons/SvgEyeStrike.tsx
  packages/@guardian/source-react-components/src/icons/SvgGift.tsx
  packages/@guardian/source-react-components/src/icons/SvgGlobe.tsx
  packages/@guardian/source-react-components/src/icons/SvgHouse.tsx
  packages/@guardian/source-react-components/src/icons/SvgIndent.tsx
  packages/@guardian/source-react-components/src/icons/SvgInfo.tsx
  packages/@guardian/source-react-components/src/icons/SvgMinus.tsx
  packages/@guardian/source-react-components/src/icons/SvgOfflineCloud.tsx
  packages/@guardian/source-react-components/src/icons/SvgPayPal.tsx
  packages/@guardian/source-react-components/src/icons/SvgPerson.tsx
  packages/@guardian/source-react-components/src/icons/SvgPlay.tsx
  packages/@guardian/source-react-components/src/icons/SvgPlus.tsx
  packages/@guardian/source-react-components/src/icons/SvgQuote.tsx
  packages/@guardian/source-react-components/src/icons/SvgSettings.tsx
  packages/@guardian/source-react-components/src/icons/SvgSpeechBubble.tsx
  packages/@guardian/source-react-components/src/icons/SvgStar.tsx
  packages/@guardian/source-react-components/src/icons/SvgTickRound.tsx
  packages/@guardian/source-react-components/src/icons/SvgVideo.tsx
  packages/@guardian/source-react-components/src/icons/types.ts
Labels: react-components, Accessibility Audit

#1292 Add pinned SVG icon
  .changeset/perfect-baboons-rush.md
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/SvgPinned.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

#1298 Add screen reader accessible labels to logo icons
  .changeset/sweet-carpets-guess.md
  packages/@guardian/source-react-components/src/icons/SvgAppleBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgFacebook.tsx
  packages/@guardian/source-react-components/src/icons/SvgFacebookBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgGoogleBrand.tsx
  packages/@guardian/source-react-components/src/icons/SvgLinkedIn.tsx
  packages/@guardian/source-react-components/src/icons/SvgMessenger.tsx
  packages/@guardian/source-react-components/src/icons/SvgPinterest.tsx
  packages/@guardian/source-react-components/src/icons/SvgTwitter.tsx
  packages/@guardian/source-react-components/src/icons/SvgWhatsApp.tsx
Labels: react-components

#1305 get-icons #2 - Expose new icon names
  .changeset/sixty-tomatoes-juggle.md
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgCrossedOutCloud.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgExclamation.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgFacebookMessenger.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgInfoRound.tsx
  packages/@guardian/source-react-components/src/icons/components/SvgMediaControlsPlay.tsx
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

#1303 Expose spinner icon
  .changeset/olive-experts-glow.md
  packages/@guardian/source-react-components/src/index.ts
  scripts/validate-dist/source-package-exports.test.ts
Labels: react-components

#1310 Use `@deprecated` jsdoc tag
  .changeset/ten-coins-scream.md
  packages/@guardian/source-foundations/src/colour/palette.stories.mdx
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-react-components/src/columns/Columns.tsx
  packages/@guardian/source-react-components/src/container/Container.tsx
  packages/@guardian/source-react-components/src/hide/Hide.tsx
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/src/tiles/Tiles.tsx
Labels: Foundations, react-components

#1202 chore(types): Typography constants
  .changeset/happy-donkeys-drum.md
  packages/@guardian/source-foundations/src/typography/data.ts
  packages/@guardian/source-foundations/src/typography/fs.ts
  packages/@guardian/source-foundations/src/typography/index.ts
  packages/@guardian/source-foundations/src/typography/types.ts
Labels: enhancement, help wanted, question, Foundations

#1314 Fix broken links in docs and revamp home page
  .storybook/preview.tsx
  docs/getting-started.stories.mdx
  docs/release-notes/v3.stories.mdx
  docs/source.stories.mdx
  packages/@guardian/source-foundations/README.md
  packages/@guardian/source-foundations/src/accessibility/description-id.ts
  packages/@guardian/source-foundations/src/accessibility/focus-halo.ts
  packages/@guardian/source-foundations/src/accessibility/visually-hidden.ts
  packages/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  packages/@guardian/source-foundations/src/colour/palette.ts
  packages/@guardian/source-react-components-development-kitchen/src/divider/README.md
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.tsx
  packages/@guardian/source-react-components-development-kitchen/src/editorial-button/README.md
  packages/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  packages/@guardian/source-react-components-development-kitchen/src/lines/README.md
  packages/@guardian/source-react-components-development-kitchen/src/logo/Logo.tsx
  packages/@guardian/source-react-components-development-kitchen/src/logo/README.md
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
  packages/@guardian/source-react-components-development-kitchen/src/quote-icon/README.md
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/README.md
  packages/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
  packages/@guardian/source-react-components-development-kitchen/src/summary/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  packages/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Labels: Foundations, kitchen
