Repository guardian/source, pull requests merged in 2022-09, with the labels that each got.

#1512 Release package updates
  .changeset/silent-mayflies-add.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#1514 Release package updates
  .changeset/clean-kings-judge.md
  packages/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  packages/@guardian/source-react-components-development-kitchen/package.json
Labels: kitchen

#1516 Make BackToTop an explicit export from source-react-components
  .changeset/honest-cougars-leave.md
  packages/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
Labels: kitchen, react-components

#1530 Add `@guardian/tsconfig`
  .eslintrc.js
  package.json
  packages/@guardian/eslint-plugin-source-foundations/package.json
  packages/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  packages/@guardian/eslint-plugin-source-react-components/package.json
  packages/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  packages/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  packages/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
  packages/@guardian/source-react-components/src/columns/styles.ts
  tsconfig.json
  yarn.lock
Labels: react-components

#1531 Make `textSans` default line-height "regular"
  .changeset/cool-deers-chew.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, kitchen, react-components

#1539 Revert "Make `textSans` default line-height "regular""
  .changeset/cool-deers-chew.md
  packages/@guardian/source-foundations/src/typography/api.ts
  packages/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/styles.ts
  packages/@guardian/source-react-components/src/choice-card/styles.ts
  packages/@guardian/source-react-components/src/label/styles.ts
  packages/@guardian/source-react-components/src/radio/styles.ts
  packages/@guardian/source-react-components/src/select/styles.ts
  packages/@guardian/source-react-components/src/text-area/styles.ts
  packages/@guardian/source-react-components/src/text-input/styles.ts
  packages/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: foundations, kitchen, react-components

#1544 Add special report alt colours
  .changeset/rich-walls-chew.md
  packages/@guardian/source-foundations/src/colour/palette.tsx
Labels: foundations

#1549 make the lint config for test more lenient
  .eslintrc.js
  packages/@guardian/source-foundations/src/typography/typography.test.ts
Labels: foundations

#1555 Turn the `Theme` type into an explicitly imported type
  .changeset/metal-ducks-argue.md
  packages/@guardian/source-react-components/src/@types/Theme.d.ts
  packages/@guardian/source-react-components/src/@types/Theme.ts
  packages/@guardian/source-react-components/src/accordion/Accordion.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  packages/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  packages/@guardian/source-react-components/src/button/styles.ts
  packages/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  packages/@guardian/source-react-components/src/checkbox/LabelText.tsx
  packages/@guardian/source-react-components/src/checkbox/SupportingText.tsx
  packages/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  packages/@guardian/source-react-components/src/footer/BackToTop.tsx
  packages/@guardian/source-react-components/src/footer/Footer.tsx
  packages/@guardian/source-react-components/src/label/SupportingText.tsx
  packages/@guardian/source-react-components/src/label/Text.tsx
  packages/@guardian/source-react-components/src/link/styles.ts
  packages/@guardian/source-react-components/src/radio/Radio.tsx
  packages/@guardian/source-react-components/src/radio/RadioGroup.tsx
  packages/@guardian/source-react-components/src/select/Select.tsx
  packages/@guardian/source-react-components/src/text-input/TextInput.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  packages/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  tsconfig.json
Labels: react-components

#1559 Pass value to textarea component
  .changeset/purple-countries-think.md
  packages/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  packages/@guardian/source-react-components/src/text-area/TextArea.tsx
Labels: react-components
