Repository guardian/source, pull requests merged in 2022-11, with the labels that each got.

#1612 Make imports local in typography renderers
  packages/@guardian/source-foundations/src/typography/storybookTypographyRenderers.tsx
Labels: foundations

#1463 RFC: line in the sand disallowing potentially unusable components
  docs/rfcs/no-unusable-components-line-in-the-sand.md
Labels: RFC

#1617 Add the SvgShareCallout icon
  .changeset/fluffy-kangaroos-shout.md
  packages/@guardian/source-react-components/scripts/create-icons/index.ts
  packages/@guardian/source-react-components/src/icons/Icons.stories.tsx
  packages/@guardian/source-react-components/src/index.test.ts
  packages/@guardian/source-react-components/src/index.ts
  packages/@guardian/source-react-components/vendor/icons/SvgShareCallout.tsx
Labels: react-components

#1615 Create ExpandingWrapper
  .changeset/fuzzy-comics-vanish.md
  .github/CODEOWNERS
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/README.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/types.ts
Labels: kitchen

#1622 Export the Expanding Wrapper
  .changeset/dull-lies-boil.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/index.test.ts
  packages/@guardian/source-react-components-development-kitchen/src/index.ts
Labels: kitchen

#1625 Add theming and a dark theme to expanding wrapper
  .changeset/gorgeous-peas-trade.md
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  packages/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/theme.ts
Labels: kitchen
